{% if in_comparison %}
<button class="btn btn-border btn-small light xround-2" disabled>
    <i class="fa fa-check" aria-hidden="true"></i>
    В сравнении
</button>
{% else %}
<form style="display: inline-block;" data-request="Catalogue::onAddProductToComparison">
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <button type="submit" class="btn btn-border btn-small light xround-2">
        Сравнить
    </button>
</form>
{% endif %}