{% if in_cart %}
<button class="btn btn-border btn-small light xround-2" disabled>
    <i class="fa fa-check" aria-hidden="true"></i>
    Добавлено
</button>
{% else %}
    {% if ''|page != 'product'|page %}
        <form style="display: inline-block;" data-request="Catalogue::onAddProductToCart">
    {% endif %}
        <input type="hidden" name="product_id" value="{{ product_id }}"/>
        <button type="submit" class="btn btn-small btn-yellow xround-2">
            В корзину
        </button>
    {% if ''|page != 'product'|page %}
        </form>
    {% endif %}
{% endif %}