<i aria-hidden="true" class="fa fa-shopping-cart fa-lg"></i>
<span class="number mar2"> {{ products_count ? products_count : 0 }} </span>

<script src="{{ 'assets/js/hide-phone-hack.js' |theme }}"></script>