<div  class="content">
    {% if products_count > 0 %}
    <div class="row cart-header">
        <div class="col-xs-8">Сумма:</div>
        <div class="col-xs-4 text-right"><span>{{ __SELF__.getCurrencySymbol() }} {{ cart_price }}</span></div>
    </div>
    <ul class="cart-box__products-list">
        {% for product in products[0:2] %}
        <li>
            <a href="{{ 'product'|page({subcategory_slug: product.subcategory.slug, product_slug: product.slug}) }}" class="product-link">
                <img src="{{ product.main_image.path }}" alt="">
                {{ product.name }}
            </a>
            <span>{{ __SELF__.getCurrencySymbol() }} {{ product.currency_price }}</span>
            <a href="javascript:void(0);" title="" class="close-btn"
                data-request="onRemoveProductFromCart"
                data-request-data="product_id: {{ product.id }}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ 'cart'|page }}" class="show-all">Показать все ({{ products_count }})</a>
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ 'checkout'|page }}" title="Check out" class="btn btn-block btn-yellow xround-3">
                Оформить заказ
            </a>
        </div>
    </div>
    {% else %}
    <div class="margin text-center">
        Ваша корзина пуста
    </div>
    {% endif %}
</div>