<a id="cart-header-icon" href="javascript:void(0)" title="">
    {% if products_count > 0 %}
        {% partial '@cart-header-icon' %}
    {% endif %}
</a>
<div id='cart-header-block' class="cart-box">
    {% if products_count > 0 %}
        {% partial '@cart-header-block' %}
    {% endif %}
</div>
