{% if products_count > 0 %}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="sp-cart">

            <tr>
                <th class="pro-img"></th>
                <th style="width:20%;">Товар</th>
                <th style="width:10%;">Цена</th>
                <th style="width:10%;">Кол-во</th>
                <th style="width:10%;">Сумма</th>
                <th style="width:10%;"></th>
            </tr>

            {% for product in products %}
            <tr>
                <td class="pro-img">
                    <a href="{{ 'product' | page({subcategory_slug: product.subcategory.slug, product_slug: product.slug}) }}" target="_blank">
                        <img src="{{ product.main_image.path }}" alt="" class="img-responsive"/>
                    </a>
                </td>
                <td class="pro-title">
                    <a href="{{ 'product' | page({subcategory_slug: product.subcategory.slug, product_slug: product.slug}) }}" target="_blank">
                        {{ product.name }}
                    </a>
                </td>
                <td class="pro-price">
                    <h6>{{ __SELF__.getCurrencySymbol() }} {{ product.currency_price }}</h6>
                </td>
                <td class="quantity">
                    <div class="product-count">
                        <button class="btn btn-xs btn-round minus">
                            <i class="fa fa-fw fa-minus" aria-hidden="true"></i>
                        </button>
                        <input id="cart-product-{{ product.id }}" class="text-center" type="text" size="1" readonly disabled
                               name="products_count"
                               value="{{ cart[product.id].count }}"
                               data-product-id="{{ product.id }}">
                        <button class="btn btn-xs btn-round plus">
                            <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
                <td class="total">
                    <h6>{{ __SELF__.getCurrencySymbol() }} {{ product.currency_price * cart[product.id].count }}</h6>
                </td>
                <td class="pro-remove">
                    <a class="btn btn-border light btn-small" href="javascript:void(0);"
                        data-request="onRemoveProductFromCart"
                        data-request-data="product_id: '{{product.id}}'">
                        Удалить
                    </a>
                </td>
            </tr>
            {% endfor %}


        </table>
    </div>
</div>
<!--end item-->

<div class="col-md-12 text-right">
    <h6>Всего: {{ __SELF__.getCurrencySymbol() }} {{ cart_price }}</h6>
    <a class="btn btn-large btn-yellow xround-3" href="{{ 'checkout'|page }}">
        Оформить заказ
    </a>
</div>
{% else %}
    {% partial '@empty-cart' %}
{% endif %}