{% if __SELF__.is_public %}
<div class="col-md-3" id="categories">
    {% partial '@categories'%}
</div>
<div class="col-md-9" id="products">
    <h1>{{ __SELF__.getSubcategoryName }}</h1>
    {% partial '@filter' %}
    {% partial '@products'%}
</div>
{% else %}
    {% partial '@closed' %}
{% endif %}