<ol class="breadcrumb">
    {% if __SELF__.getSubcategorySlug %}
        <li><a href="{{ 'catalog'|page({subcategory_slug: ''}) }}">Каталог</a></li>
        <li class="current"><a href="{{ 'catalog'|page({subcategory_slug: __SELF__.getSubcategorySlug}) }}">{{ __SELF__.getSubcategoryName }}</a></li>
    {% else %}
        <li class="current"><a href="{{ 'catalog'|page({subcategory_slug: ''}) }}">Каталог</a></li>
    {% endif %}
</ol>