<div class="categories_spoiler">
    <div class="accordion_in style2 acc_active">
        <div class="acc_head">Категории</div>
        <div class="acc_content">
            {% for category in __SELF__.getCategories %}
            <div class="sidebar-item-holder">
                <h6 class="sp-sb-title">{{ category.name }}</h6>
                <ul class="sp-sb-links">
                    {% for subcategory in category.subcategories %}
                    <li>
                        <a href="{{ '/catalog/'~subcategory.slug }}"
                           {% if subcategory.slug == __SELF__.getSubcategorySlug %}
                               class="active"
                           {% endif %} >
                            {{ subcategory.name }}
                        </a>
                        <div class="clearfix"></div>
                    </li>
                    <div class="clearfix"></div>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% put styles %}
<link href="{{ 'assets/js/accordion/css/smk-accordion.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/accordion/js/smk-accordion.js'|theme }}"></script>
<script src="{{ 'assets/js/categories-spoiler.js'|theme }}"></script>
{% endput %}