<div class="sp-order-summary">
    <h6>Информация о заказе</h6>
    <ul class="sp-cart-total">
        <li>
            <div class="pull-left title">
                Всего товаров
            </div>
            <div class="pull-right price">
                <b>{{ all_products_count }}</b>
            </div>
        </li>
        {% for product in products %}
        <li>
            <div class="pull-left title">
                {% if cart[product.id].count > 1 %}
                <b>{{ cart[product.id].count }} x </b>
                {% endif %}
                {{ product.name }}
            </div>
            <div class="pull-right price">
                <b>{{ __SELF__.getCurrencySymbol() }} {{ product.currency_price * cart[product.id].count }}</b>
            </div>
        </li>
        {% endfor %}
        <li>
            <div class="pull-left title">
                На сумму
            </div>
            <div class="pull-right price">
                <b>{{ __SELF__.getCurrencySymbol() }} {{ cart_price }}</b>
            </div>
        </li>
    </ul>
</div>