{% if __SELF__.is_public %}
<div class="row">
    <div id="checkout-form" class="col-md-8">
        {% partial '@submit-checkout-form' %}
    </div>
    <div id="checkout-information" class="col-md-4">
        {% partial '@checkout-information' %}
    </div>
</div>
{% else %}
{% partial '@closed' %}
{% endif %}