<a id="comparison-header-icon" href="javascript:void(0)" title="">
    {% if comparison_products_count > 0 %}
        {% partial '@comparison-header-icon' %}
    {% endif %}
</a>
<div id='comparison-header-block' class="comparison-box">
    {% if comparison_products_count > 0 %}
        {% partial '@comparison-header-block' %}
    {% endif %}
</div>
