{% if comparison[subcategory_id].products |length > 0 %}
    {% set table_data = __SELF__.getComparisonFormattedDataForSubcategory(subcategory_id) %}
    <div class="table-responsive comparison-table">
        <table>
            <tr>
                <th></th>
                {% for product_id, slug in table_data.product_slug.values %}
                <td>
                    <a href="javascript:void(0);" title="" class="close-btn"
                       data-request="onRemoveProductFromComparison"
                       data-request-data="product_id: {{ product_id }}, subcategory_id: {{ subcategory_id }}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        удалить
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ table_data.main_image.label }}</th>
                {% for product_id, main_image in table_data.main_image.values %}
                    <td class="comparison__product-image ">
                        <a class="text-center" href="{{ 'product' | page({subcategory_slug: table_data.subcategory_slug.value, product_slug: table_data.product_slug.values[product_id]}) }}" target="_blank">
                            <img src="{{ main_image.path }}" alt="{{ table_data.name.values[product_id] }}" class="img-responsive"/>
                        </a>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ table_data.name.label }}</th>
                {% for product_id, name in table_data.name.values %}
                    <td>
                        <a href="{{ 'product' | page({subcategory_slug: table_data.subcategory_slug.value, product_slug: table_data.product_slug.values[product_id]}) }}" target="_blank">
                            {{ name }}
                        </a>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ table_data.price.label }}</th>
                {% for product_id, price in table_data.price.values %}
                    <td>
                        {{ price }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ table_data.brand.label }}</th>
                {% for product_id, brand in table_data.brand.values %}
                <td>
                    {{ brand }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ table_data.description.label }}</th>
                {% for product_id, description in table_data.description.values %}
                <td>
                    {{ description |raw }}
                </td>
                {% endfor %}
            </tr>

            {% for information in table_data.information %}
                <tr>
                    <th>{{ information.label }}</th>
                    {% for product_id, value in information.values %}
                    <td>
                        {{ value }}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% else %}
    <h2 class="text-center">Ничего не выбрано</h2>
{% endif %}