<div  class="content">
    {% if comparison_products_count > 0 %}
        <ul class="comparison-box__subcategories-list">
            {% for subcategory in comparison %}
            <li>
                <a href="{{ 'comparison' |page({subcategory_slug: subcategory.slug}) }}" class="comparison-box__subcategory-link">
                    {{ subcategory.name }}
                    <span class="comparison-box__subcategory-count"> {{ subcategory.products |length }} </span>
                </a>
                <a href="javascript:void(0);" title="" class="close-btn"
                   data-request="onRemoveSubcategoryFromComparison"
                   data-request-data="subcategory_id: {{ subcategory.id }}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <div class="margin text-center">
        Ничего не выбрано
    </div>
    {% endif %}
</div>