<div class="tab-navbar-main-style-7 comparison-tabs-navbar">
    <ul class="responsive-tabs comparison-tabs">
        {% for subcategory in comparison %}
        <li class="comparison-single-tab {% if subcategory.slug == __SELF__.current_subcategory.slug %} active {% endif %}"><a href="#subcategory-tab-{{ subcategory.id }}" target="_self">
            {{ subcategory.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="clearfix"></div>
<div class="tab-content-style-7">
    <div class="responsive-tabs-content">
        {% for subcategory in comparison %}
        <div id="subcategory-tab-{{ subcategory.id }}" class="responsive-tabs-panel">

            {% partial '@comparison-table' subcategory_id=subcategory.id%}

        </div>
        <!--end panel 1-->
        <div class="clearfix"></div>
        <br/>
        {% endfor %}
    </div>
</div>


{% put styles %}
<link href="{{ 'assets/js/tabs/css/responsive-tabs.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/tabs/js/responsive-tabs.js'|theme }}"></script>
{% endput %}