<i aria-hidden="true" class="fa fa-balance-scale fa-lg"></i>
<span class="number mar2"> {{ comparison_products_count ? comparison_products_count : 0 }} </span>

<script src="{{ 'assets/js/hide-phone-hack.js' |theme }}"></script>