<label style="width: 100%;">
    Валюта:
    <div class="select-wrapper">
        <select name="currency" class="input-1">

            {% for currency_code, currency_text in __SELF__.getCurrencyOptions() %}
            <option value="{{ currency_code }}" {% if (__SELF__.getCurrency() == currency_code) %} selected {% endif %}>
                {{ currency_text }}
            </option>
            {% endfor %}

        </select>
    </div>
</label>