
    <div class="filter_spoiler">
        <!-- Section 1 -->
        <div class="accordion_in style2 acc_active section-light">
            <div class="acc_head">Фильтр</div>
            <div class="acc_content no-lpadd">

                <form method="get" class="filter-form">
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control input-1" placeholder="Поиск" name="query" value="{{ __SELF__.query }}">
                        </div>
                        <h6>Производители</h6>
                        <div class="brands-filter">
                            {% for brand in brands %}
                            <div class="brands-filter__item">
                                <label>
                                    <input type="checkbox" name="brands[]" value="{{ brand.id }}"
                                           {% if brand.id in __SELF__.current_brands %}
                                           checked
                                           {% endif %}>
                                    {{ brand.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Цена</h6>
                        <label class="price-control">
                            от
                            <input type="number" class="input-1" name="min-price" min="0" value="{{ __SELF__.min_price }}">
                        </label>
                        <label class="price-control">
                            до
                            <input type="number" class="input-1" name="max-price" min="0" value="{{ __SELF__.max_price }}">
                        </label>
                        {% partial '@currency-select'%}
                        <label>
                            Сортировать по:
                            <div class="select-wrapper">
                                <select name="order" class="input-1">
                                    <option>без сортировки</option>
                                    <option value="min_price_first"
                                            {% if (__SELF__.order == 'min_price_first') %}
                                    selected
                                    {% endif %}>Цене (по возрастанию)</option>
                                    <option value="max_price_first"
                                            {% if __SELF__.order == 'max_price_first' %}
                                    selected
                                    {% endif %}>Цене (по убыванию)</option>
                                </select>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-12 filter-form-controls">
                        <button type="submit" name="req" value="apply" class="btn btn-small btn-yellow xround-2">Применить</button>
                        <button type="submit" name="req" value="reset" class="btn btn-border btn-small light xround-2">Сбросить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>



{% put styles %}
<link href="{{ 'assets/js/accordion/css/smk-accordion.css'|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/accordion/js/smk-accordion.js'|theme }}"></script>
<script>
    $(".filter_spoiler").smk_Accordion({
        showIcon: true,
        animation: true,
        closeAble: true,
        slideSpeed: 300
    });
    if ($(window).width() < 1000) {
        $('.filter_spoiler .acc_active .acc_head').click();
    }
</script>
{% endput %}