{% flash success %}
<div class="be-notification be-notification-success fadeIn">
    <span class="close"><i class="font-icon icon-icon_close"></i></span>
    <h6>{{ message }}</h6>
</div>
{% endflash %}

{% flash error %}
<div class="be-notification be-notification-error fadeIn">
    <span class="close"><i class="font-icon icon-icon_close"></i></span>
    <h6>{{ message }}</h6>
</div>
{% endflash %}