{% for product in __SELF__.getProducts() %}
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="sp-feature-box-3 margin-bottom">
        <a class="product-link" href="{{ 'product'|page({subcategory_slug: product.subcategory.slug, product_slug: product.slug}) }}">
            <div class="img-box">
                <img src="{{ product.main_image.path }}" alt="{{ product.name }}" class="img-responsive"/>
            </div>
            <div class="clearfix"></div>
            <h6 class="less-mar-1">{{ product.name }}</h6>
        </a>
        <div class="product-footer">
            <div class="gradient-cut"></div>
            <h5 class="text-gyellow">
                {{ __SELF__.getCurrencySymbol() }}
                {{ product.currency_price }}
            </h5>
            <div class="product-brand">
                {% if product.country %}
                    <img class="country_flag" src="{{ ('country_flags/'~product.country.code~'.png') |media }}" alt="{{ product.country.name }}"/>
                {% endif %}
                {{ product.brand.name }}
                <div class="gradient-cut"></div>
            </div>
            <span id="product-button-{{ product.id }}">
                {% partial '@product-buttons'
                    product_id=product.id
                    is_available=product.is_available
                    in_cart= cart[product.id] ? true : false
                    products_count= cart[product.id] ? cart[product.id]['count'] : 0
                    in_comparison= __SELF__.isProductIdInComparison(product.id)
                %}
            </span>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-md-12 col-sm-12 col-xs-12 text-center">
    {{ __SELF__.getProducts().render|raw }}
</div>