<ol class="breadcrumb">
    <li><a href="{{ 'catalog'|page({subcategory_slug: ''}) }}">Каталог</a></li>
    <li><a href="{{ 'catalog'|page({subcategory_slug: product.subcategory.slug}) }}">{{ product.subcategory.name }}</a></li>
    <li class="current"><a href="#">{{ product.name }}</a></li>
</ol>