{% if is_available %}
    {% if ''|page == 'product'|page %}
    <form class="add-to-cart-form" data-request="Catalogue::onAddProductToCart">
        <div class="row margin-bottom-2">
            <div class="col-md-12">
                <div class="product-count">
                    Кол-во:
                    <button type="button" class="btn btn-small btn-round minus">
                        <i class="fa fa-fw fa-minus" aria-hidden="true"></i>
                    </button>
                    <input class="text-center js-no-count-ajax" type="text" size="1" min="1"
                           name="products_count"
                           value="{{ products_count > 0 ? products_count : 1 }}">
                    <button type="button" class="btn btn-small btn-round plus">
                        <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <span id="add-to-cart-btn-{{ product_id }}">
        {% partial '@add-to-cart-btn' %}
    </span>
    {% if ''|page == 'product'|page %}
    </form>
    {% endif %}
    <span id="add-to-comparison-btn-{{ product_id }}">
        {% partial '@add-to-comparison-btn' %}
    </span>
{% else %}
<span>Нет в наличии</span>
{% endif %}