{% if __SELF__.is_public %}
<div class="col-md-4 col-sm-12 col-xs-12 pull-right">
    <h4>{{ product.name }}</h4>
    <div class="divider-line solid light margin-bottom-2"></div>
    <div class="pro-details">
        {{ product.brand.name }}
        {% if product.country %},
        <img class="country_flag" src="{{ ('country_flags/'~product.country.code~'.png') |media }}" alt="{{ product.country.name }}"/>{{ product.country.name }}
        {% endif %}
    </div>
    <div class="divider-line solid light margin-top-2 margin-bottom-2"></div>
    <h5 class="text-gyellow">{{ __SELF__.getCurrencySymbol() }} {{ product.currency_price }}</h5>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <span id="cart-button-{{ product.id }}">
        {% partial '@product-buttons'
            product_id=product.id
            is_available=product.is_available
            in_cart= cart[product.id] ? true : false
            products_count= cart[product.id] ? cart[product.id]['count'] : 0
            in_comparison= __SELF__.isProductIdInComparison(product.id)
        %}
    </span>
    <div class="clearfix"></div>




</div>
<!--end right-->

<div class="col-md-8 col-sm-12 col-xs-12 margin-bottom pull-right">
    <div class="product_preview_left">
        <div class="gallery">

            <div class="full">
                <img src="{{ product.main_image.path }}" alt=""/>
            </div>
            <div class="previews">
                <a class="selected" data-full="{{ product.main_image.path }}">
                    <img src="{{ product.main_image.path }}" alt=""/>
                </a>
                {% for image in product.images %}
                <a data-full="{{ image.path }}">
                    <img src="{{ image.path }}" alt=""/>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <p>
        {{ product.description | raw }}
    </p>

    <table class="product-details-table">
    {% for information in product.information %}
    <tr>
        <td><b>{{ information.name }}:</b></td>
        <td>{{ information.pivot.value }}</td>
    </tr>
    {% endfor %}
    </table>
    <div class="clearfix"></div>


</div>
<!--end left-->
{% else %}
{% partial '@closed' %}
{% endif %}