{% if products_count > 0 %}
<form data-request="Catalogue::onSubmitCheckout">
    <h6>Контактная информация</h6>

    <div class="col-md-6">
        <label for="first-name">* Имя</label>
        <input id="first-name" name="first-name" class="sp-binfo" type="text">
    </div>
    <div class="col-md-6">
        <label for="last-name">* Фамилия</label>
        <input id="last-name" name="last-name" class="sp-binfo" type="text">
    </div>
    <div class="col-md-12">
        <label for="phone">* Телефон</label>
        <input id="phone" name="phone" class="sp-binfo" type="tel">
    </div>
    <div class="col-md-12">
        <label for="email">Email</label>
        <input id="email" name="email" class="sp-binfo" type="email">
    </div>

    <div class="col-md-12 text-small">
        <p>
            <b>*</b> – обязательные поля
        </p>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <button type="submit" class="btn btn-large btn-yellow xround-3" >
            Оформить заказ
        </button>
    </div>
</form>
{% else %}
    {% partial '@empty-cart' %}
{% endif %}