<div class="container">
    <div class="mod-menu">
        <div class="row">
            <div class="col-sm-2 logo-col">
                <a href="{{ 'home'|page }}" title="" class="logo style-2 ch-mar">
                    <img src="{{ 'assets/images/logo.svg'|theme }}" style="height: 35px; margin-top: -10px;"/>
                    <span class="logo_dark">
                        ACTIVE SUN
                    </span>
                </a>
            </div>
            <div class="col-sm-10 col-xs-12">
                <div class="main-nav">
                    <ul class="nav navbar-nav top-nav">
                        <li class="visible-xs menu-icon">
                            <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse"
                               data-target="#menu" aria-expanded="false">
                                <div class="hamburger hamburger--spring">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="comparison-parent">
                            {% partial 'Catalogue::comparison-header' %}
                        </li>

                        <li class="cart-parent">
                            {% partial 'Catalogue::cart-header' %}
                        </li>

                        <li class="phone-parent" id="phone-parent">
                            <a href="tel:+380687845971">
                                <i aria-hidden="true" class="fa fa-phone fa-lg phone-icon"></i>
                                <span class="phone_number">+38 (068) 784-59-71</span>
                            </a>
                        </li>
                    </ul>
                    <div id="menu" class="collapse">
                        <ul class="nav navbar-nav">
                            <li class="{% if this.page.id == 'home' %}active{% endif %}">
                                <a href="{{ 'home'|page }}">Главная</a>
                            </li>
                            <li class="has-submenu {% if this.page.id in ['catalog', 'service'] %}active{% endif %}">
                                <a href="javascript:void(0);">
                                    Услуги
                                    <span class="sub-arrow dark opacity-5">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <ul class="dm-align-2">
                                    {% partial 'Services::submenu-items' %}
                                    <li class="{% if this.page.id == 'catalog' %}active{% endif %}">
                                        <a href="{{ 'catalog'|page({subcategory_slug:''}) }}">Каталог</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% if this.page.id == 'about' %}active{% endif %}">
                                <a href="{{ 'about' |page }}">О компании</a>
                            </li>
                            <li class="{% if this.page.id == 'green-tariff' %}active{% endif %}">
                                <a href="{{ 'green-tariff'|page }}">Зелёный тариф</a>
                            </li>
                            <li class="{% if this.page.id in ['articles', 'article'] %}active{% endif %}">
                                <a href="{{ 'articles'|page }}">База знаний</a>
                            </li>
                            <li class="{% if this.page.id == 'contacts' %}active{% endif %}">
                                <a href="{{ 'contacts'|page }}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>