<section class="clearfix random-background" data-src='[
            "{{ 'assets/images/backgrounds/1.jpg'|theme }}",
            "{{ 'assets/images/backgrounds/2.jpg'|theme }}",
            "{{ 'assets/images/backgrounds/3.jpg'|theme }}",
            "{{ 'assets/images/backgrounds/4.jpg'|theme }}",
            "{{ 'assets/images/backgrounds/5.jpg'|theme }}",
            "{{ 'assets/images/backgrounds/6.jpg'|theme }}"
]'>
    <h1 class="uppercase text-white">
        {{ page_hero_text is defined ? page_hero_text : this.page.title }}
    </h1>
    <h4 class="text-white">{{ subtitle }}</h4>
</section>
<div class="clearfix"></div>

{% put scripts %}
<script>
    $('.random-background').each(function(){
        var images = $(this).data('src');
        var src = images[ Math.floor(Math.random() * images.length) ];
        $(this).css('background', 'url(' + src + ')');
    });
</script>
{% endput %}