<div class="header-bg-full slide-tmargin">
    <div class="video-background no-video"></div>
    <video poster="{{ 'assets/videos/no-video.jpg'|theme }}" id="video-roof" playsinline muted class="video-background hidden_video">
        <source src="{{ 'assets/videos/roof.webm'|theme }}" type="video/webm">
        <source src="{{ 'assets/videos/roof.mp4'|theme }}" type="video/mp4">
        <source src="{{ 'assets/videos/roof.ogv'|theme }}" type="video/ogv">
    </video>
    <video poster="{{ 'assets/videos/no-video.jpg'|theme }}" id="video-solar" playsinline muted class="video-background hidden_video">
        <source src="{{ 'assets/videos/solar.webm'|theme }}" type="video/webm">
        <source src="{{ 'assets/videos/solar.mp4'|theme }}" type="video/mp4">
        <source src="{{ 'assets/videos/solar.ogv'|theme }}" type="video/ogv">
    </video>
    <div class="video-overlay"></div>
    <div class="header-bg-inner">
        <div class="header-bg-inner-title">
            <img src="{{ 'assets/images/logo_white.svg'|theme }}" class="hero-logo"/>
            <h1>
                ACTIVE SUN
            </h1>
            <h2>Время стать энергетически независимым</h2>
            <h4>Мы объединили все самые нужные услуги в одном месте.</h4>
            {% component 'ContactButton' %}
        </div>
    </div>
</div>
<script src="{{ 'assets/js/videobg.js'|theme }}"></script>
<div class="clearfix"></div>