subject = "Новое сообщение с сайта"
==
Вы получили новое сообщение с сайта ActiveSun
-------------------------------------
Имя: {{ html_clean(customer_name) }}
Телефон: {{ html_clean(customer_phone) }}
Email: {{ html_clean(customer_email) }}
Сообщение:
{{ html_clean(customer_message) }}
-------------------------------------
==
<p>Вы получили новое сообщение с сайта ActiveSun</p>

<div style="background: #fafafa; padding: 15px;">
    <strong>Имя:</strong> {{ html_clean(customer_name) }} <br>
    <strong>Телефон:</strong> {{ html_clean(customer_phone) }}<br>
    <strong>Email:</strong> {{ html_clean(customer_email) }}<br>
    <strong>Сообщение:</strong><br>
    {{ html_clean(customer_message) }}<br>
</div>