subject = "Запрос консультации"
==
Вы получили новый запрос консультации с сайта ActiveSun
-------------------------------------
Имя: {{ html_clean(customer_name) }}
Телефон: {{ html_clean(customer_phone) }}
Со страницы:
{{ html_clean(referer_url) }}
-------------------------------------
==
<p>Вы получили новый запрос на консультацию с сайта ActiveSun</p>

<div style="background: #fafafa; padding: 15px;">
    <strong>Телефон:</strong> {{ html_clean(customer_phone) }}<br>
    <strong>Имя:</strong> {{ html_clean(customer_name) }} <br>
    <strong>Со страницы:</strong> <a href="{{ html_clean(referer_url) }}">{{ html_clean(referer_name) }}</a> <br>
</div>