{% if Employees.getEmployees is not empty %}
<h3 class="text-center">Наши сотрудники</h3>

<div class="row sec-padding">
    <div class="employees">
    {% for employee in Employees.getEmployees %}
        <div class="employee">
            <div class="employee_photo" style="background-image:url('{{ employee.image.path }}');"></div>
            <h6 class="roboto-slab employee_name">
                {{ employee.first_name }} {{ employee.last_name }}
            </h6>
            <div class="text-gyellow employee_post">
                {{ employee.post }}
            </div>

            {% if employee.phone %}
            <div class="employee_contact">
                <i class="fa fa-phone fa-fw"></i>
                <a href="tel:{{ employee.phone }}">{{ employee.phone }}</a>
            </div>
            {% endif %}
            {% if employee.email %}
            <div class="employee_contact">
                <i class="fa fa-envelope fa-fw"></i>
                <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
            </div>
            {% endif %}
            {% if employee.skype %}
            <div class="employee_contact">
                <i class="fa fa-skype fa-fw"></i>
                <a href="skype:{{ employee.skype }}?chat">{{ employee.skype }}</a>
            </div>
            {% endif %}

        </div>
    {% endfor %}
    </div>
</div>
{% endif %}