<a class="btn btn-large btn-yellow xround-3 popup-with-move-anim" data-mfp-src="#call-popup" href="javascript:void(0);">
    <span>Заказать звонок</span>
</a>
<div id="call-popup" class="white-popup zoom-anim-dialog mfp-hide">
    <h4>Обратный звонок</h4>
    <p>
        Оставьте Ваши данные, и мы свяжемся с Вами в ближайшее время.
    </p>
    <div id="popup_contact_flash_message"></div>
    <div style="text-align: center;">
        <form id="send-contact"
              data-request="onSendPopupContact"
              data-request-validate>
            {% partial '@form_content' %}
        </form>
    </div>
</div>