<span data-validate-for="contact_btn_name" class="contact-form__field-validation_error"></span>
<input id="contact_btn_name" type="text" class="input-1" placeholder="Ваше имя"
       name="contact_btn_name"/>
<span data-validate-for="contact_btn_phone" class="contact-form__field-validation_error"></span>
<input id="contact_btn_phone" type="tel" class="input-1 phone-input-js" placeholder="Номер телефона"
       name="contact_btn_phone"/>
{% if success_message %}
<div class="alert-box success">
    <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <span class="alert-box__message">{{ success_message }}</span>
</div>
{% endif %}
<button id="send-contact-btn" type="submit" class="btn btn-medium btn-yellow xround-2">Заказать звонок</button>