/*	Responsive Tabs v1.4, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	======================================================================================= */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */

	/* Standard */
.responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.responsive-tabs li {
	width: 125px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	float: left;
	padding: 0;
	background-color: #242424;
}
.responsive-tabs li a {
	display: block;
	padding: 0px;
	text-align: center;
	line-height: 23px;
	text-decoration: none;
}
.responsive-tabs li.active {
	font-weight: bold;
	background-color: #fff;
}
.responsive-tabs-content {
	margin-bottom: 20px;
}
.responsive-tabs-content.bm-remove {
	margin-bottom: 0;
}
.responsive-tabs-content.bm-smaller {
	margin-bottom: 5px;
}
.responsive-tabs-content.bm-small {
	margin-bottom: 10px;
}
.responsive-tabs-content.bm-medium {
	margin-bottom: 20px;
}
.responsive-tabs-content.bm-large {
	margin-bottom: 30px;
}
.responsive-tabs-content.bm-larger {
	margin-bottom: 40px;
}
.responsive-tabs-content .responsive-tabs-panel {
	padding: 0px 0 0 0;
}
.responsive-tabs-content .responsive-tabs-panel .responsive-tab-title {
	display: none;
}
/* Tabs Left */
.responsive-tabs.responsive-tabs-left {
	width: 150px;
	float: left;
}
.responsive-tabs.responsive-tabs-left li {
	text-align: left;
	float: none;
}
.responsive-tabs-content.responsive-tabs-left {
	overflow: hidden;
}
/* Tabs Right */
.responsive-tabs.responsive-tabs-right {
	width: 150px;
	float: right;
}
.responsive-tabs.responsive-tabs-right li {
	text-align: right;
	float: none;
}
.responsive-tabs-content.responsive-tabs-right {
	overflow: hidden;
}
 @media only screen and (max-width: 767px) {
.responsive-tabs li {
	/*display: none;*/
}
.responsive-tabs-content .responsive-tabs-panel,  .responsive-tabs-content .responsive-tabs-panel .responsive-tab-title {
	display: block;
}
}
/*	#Themes
//	================================================== */

	/* Standard */
.responsive-tabs-default .responsive-tabs li {
	border: 1px solid #DDD;
	border-right: 0;
	background: #EEE;
	cursor: pointer;
	position: relative;
	z-index: 999999;
}
.responsive-tabs-default .responsive-tabs li:last-child {
	border-right: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs li.active {
	border-bottom: 1px solid #FFF;
	background: #FFF;
}
.responsive-tabs-default .responsive-tabs-content {
	border: 1px solid #DDD;
	background: #FFF;
	position: relative;
	top: -1px;
	z-index: 999;
}
.responsive-tabs-default .responsive-tabs-content .responsive-tab-title {
	color: #0B8593;
}
/* Tabs Left */
.responsive-tabs-default .responsive-tabs.responsive-tabs-left {
	left: 1px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li {
	width: 100%;
	border-right: 1px solid #DDD;
	border-bottom: 0;
	line-height: 50px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li:last-child {
	border-bottom: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li.active {
	border-right: 1px solid #FFF;
}
.responsive-tabs-default .responsive-tabs-content.responsive-tabs-left {
	top: 0;
}
/* Tabs Right */
.responsive-tabs-default .responsive-tabs.responsive-tabs-right {
	right: 1px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li {
	width: 100%;
	border-right: 1px solid #DDD;
	border-bottom: 0;
	border-left: 1px solid #DDD;
	line-height: 50px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li:last-child {
	border-bottom: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li.active {
	border-left: 1px solid #FFF;
}
.responsive-tabs-default .responsive-tabs-content.responsive-tabs-right {
	top: 0;
}

/*custom styles*/
.tab-navbar-main {
	width: 100%;
	display: inline-block;
	text-align: center;/*background-color:#fc4242;*/
}
.tab-content-holder {
	width: 100%;
	float: left;
	padding: 40px;
	background-color: #fff;
}
.tab-navicon span {
	font-size: 36px;
	display: inline-block;
	padding: 10px 0 0 0;
	text-align: center;
}
.tabstyle-1 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.tabstyle-1 .responsive-tabs li {
	width: 190px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	float: left;
	padding: 0;
	border-right:1px solid #ebebeb;
	background-color: #fff;
}
.tabstyle-1 .responsive-tabs li:last-child {
	border-right:none;
}
.tabstyle-1 .responsive-tabs li a {
	display: block;
	padding: 20px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-1 .responsive-tabs li a:hover, .tabstyle-1 .responsive-tabs li.active, .tabstyle-1 .responsive-tabs li.active a {
	color: #ccc;
}

.tabstyle-1 .responsive-tabs-content {
	margin-bottom: 20px;
}



/* Tab atyle 2
 ------------------------------ */
.tab-navbar-main-style-2 {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color:#242424;
}

.tab-content-style-2 {
	width: 100%;
	float: left;
	padding: 40px;
	background-color: #fff;
}
.tabstyle-2 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.tabstyle-2 .responsive-tabs li {
	width:auto;
	margin: 0;
	text-align: center;
	line-height: 50px;
	padding: 0;
	float:left;
	border-right:1px solid #727272;
	background-color: #242424;
}
.tabstyle-2 .responsive-tabs li:last-child {
	border-right:none;
}
.tabstyle-2 .responsive-tabs li a {
	display: block;
	padding: 15px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-2 .responsive-tabs li a:hover, .tabstyle-2 .responsive-tabs li.active, .tabstyle-2 .responsive-tabs li.active a {
	color: #fff;
	border-right:1px solid #ccc;
	background-color: #ccc;
}

.tabstyle-2 .responsive-tabs-content {
	margin-bottom: 20px;
}



/* Tab atyle 3
 ------------------------------ */
.tab-navbar-main-style-3 {
	width: 100%;
	display: inline-block;
	text-align: center;
	border:1px solid #e4e4e4;
	background-color:transparent;
}

.tab-content-style-3 {
	width: 100%;
	float: left;
	padding: 40px;
	border:1px solid #e4e4e4;
	background-color: transparent;
}
.tabstyle-3 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: transparent;
}
.tabstyle-3 .responsive-tabs li {
	width:50%;
	margin: 0;
	text-align: center;
	line-height: 50px;
	padding: 0;
	float:left;
	border-right:1px solid #e4e4e4;
	background-color: transparent;
}
.tabstyle-3 .responsive-tabs li:last-child {
	border-right:none;
}
.tabstyle-3 .responsive-tabs li a {
	display: block;
	padding: 15px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-3 .responsive-tabs li a:hover, .tabstyle-3 .responsive-tabs li.active, .tabstyle-3 .responsive-tabs li.active a {
	color: #ccc;
}

.tabstyle-3 .responsive-tabs-content {
	margin-bottom: 20px;
}


/* Tab atyle 4
 ------------------------------ */
.tab-navbar-main-style-4 {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color:#fff;
}

.tab-content-style-4 {
	width: 100%;
	float: left;
	padding: 40px 0 0 0;
	background-color: #fff;
}
.tabstyle-4 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.tabstyle-4 .responsive-tabs li {
	width:48%;
	text-align: center;
	line-height: 50px;
	padding: 0;
	float:left;
	margin-right:3px;
	border:1px solid #e4e4e4;
	background-color: #fff;
}

.tabstyle-4 .responsive-tabs li a {
	display: block;
	padding: 15px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-4 .responsive-tabs li a:hover, .tabstyle-4 .responsive-tabs li.active, .tabstyle-4 .responsive-tabs li.active a {
	color: #727272;
	border-right:1px solid #101010;
	background-color: #101010;
}

.tabstyle-4 .responsive-tabs-content {
	margin-bottom: 20px;
}


/* Tab atyle 5
 ------------------------------ */
.tabstyle-5 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	left: 16%;
	text-align: center;
	list-style-type: none;
	position: relative;
}
.tabstyle-5 .responsive-tabs li {
	width: 150px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	display:inline-block;
	padding: 0;
	border-right:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	
	background-color: #fff;
}
.tabstyle-5 .responsive-tabs li:last-child {
	border-right:1px solid #ebebeb;
}
.tabstyle-5 .responsive-tabs li a {
	display: block;
	padding: 20px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-5 .responsive-tabs li a:hover, .tabstyle-5 .responsive-tabs li.active, .tabstyle-5 .responsive-tabs li.active a {
	color: #727272;
	background-color:#101010;
}

.tabstyle-5 .responsive-tabs-content {
	margin-bottom: 20px;
}

.tabstyle-5-feature-box {
	border:1px solid #f0f0f0;
	float:left;
	width:100%;
}
.tabstyle-5-feature-box-2 {
	border:1px solid #f0f0f0;
	float:left;
	width:100%;
	padding:45px 60px;
}

.ttitle strong{
	font-size:24px;
	color:#101010;
	border-bottom:1px solid #101010;
	}

.ttitle{
	padding-top:20px;
	margin:15px 0;
	float:left;
	}
.ttitle span{
	margin-bottom:15px;
	}
	
/* Tab atyle 6
 ------------------------------ */
.tab-navbar-main-style-6 {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color:#fff;
}

.tab-content-style-6 {
	width: 100%;
	float: left;
	padding: 40px 0 0 0;
	background-color: #fff;
}
.tabstyle-6 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.tabstyle-6 .responsive-tabs li {
	width:31%;
	text-align: center;
	line-height: 50px;
	padding: 0;
	float:left;
	margin-right:5px;
	border:1px solid #e4e4e4;
	background-color: #fff;
}

.tabstyle-6 .responsive-tabs li a {
	display: block;
	padding: 15px 6px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	border-right:1px solid #fff;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-6 .responsive-tabs li a:hover, .tabstyle-6 .responsive-tabs li.active, .tabstyle-6 .responsive-tabs li.active a {
	color: #727272;
	border-right:1px solid #101010;
	background-color: #101010;
}

.tabstyle-6 .responsive-tabs-content {
	margin-bottom: 20px;
}
.tabstyle-6 .responsive-tab-title p strong{
	font-size:24px;
	color:#101010;
	border-bottom:1px solid #101010;
	}

.tabstyle-6 .responsive-tab-title{
	margin-bottom:50px;
	}
	
	
	
	
	
/* Tab atyle 7
 ------------------------------ */
.tab-navbar-main-style-7 {
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color:#f5f5f5;
}

.tab-content-style-7 {
	width: 100%;
	float: left;
	padding:0 0 0 0;
	background-color: #fff;
}
.tabstyle-7 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
	background-color: #fc4242;
}
.tabstyle-7 .responsive-tabs li {
	width:33%;
	text-align: center;
	line-height: 50px;
	padding: 0;
	float:left;
	background-color: transparent;
}

.tabstyle-7 .responsive-tabs li a {
	display: block;
	padding: 15px 6px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	border-right:1px solid #e4e4e4;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-7 .responsive-tabs li a:hover, .tabstyle-7 .responsive-tabs li.active, .tabstyle-7 .responsive-tabs li.active a {
	color: #727272;
	border-right:1px solid #101010;
	background-color: #101010;
}

.tabstyle-7 .responsive-tabs-content {
	margin-bottom: 20px;
}
.tabstyle-7 .responsive-tab-title p strong{
	font-size:24px;
	color:#101010;
	border-bottom:1px solid #101010;
	}

.tabstyle-7 .responsive-tab-title{
	margin-bottom:50px;
	}	
.tabstyle-7 .responsive-tabs li a.no-border {
	border-right:none;
}	
	
	
/* Tab atyle 8
 ------------------------------ */
.tabstyle-8 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	left: 16%;
	text-align: center;
	list-style-type: none;
	position: relative;
}
.tabstyle-8 .responsive-tabs li {
	width: 150px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	display:inline-block;
	padding: 0;
	background-color: #fff;
}

.tabstyle-8 .responsive-tabs li a {
	display: block;
	padding: 20px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	color: #101010;
	text-transform:uppercase;
	text-decoration: none;
	margin-bottom:20px;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-8 .responsive-tabs li a span {
	font-size:36px;
	color: #101010;
}
.tabstyle-8 .responsive-tabs li a:hover, .tabstyle-8 .responsive-tabs li a:hover span, .tabstyle-8 .responsive-tabs li.active, .tabstyle-8 .responsive-tabs li.active a, .tabstyle-8 .responsive-tabs li.active a span {
	color: #ecae3d;
}
.tabstyle-8 .responsive-tabs-content {
	margin-bottom: 20px;
}

.tabstyle-8-feature-box {
	float:left;
	width:100%;
}
.tabstyle-8-feature-box-2 {
	float:left;
	width:100%;
	padding:0px 0px 0px 30px;
}
.responsive-tabs-content.more-mar-1 {
    margin-bottom: 45px;
}
.tab-navbar-main.bborder {
    border-bottom: 1px solid #f0f0f0;
}


/* Tab atyle 9
 ------------------------------ */
 
.tab-content-holder-9 {
    width: 100%;
    float: left;
    padding: 60px 50px 50px 50px;
	margin-top:10px;
	border:1px solid #f1f1f1;
    background-color: #fff;
}

.tabstyle-9 .responsive-tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	position: relative;
}
.tabstyle-9 .responsive-tabs li {
	width: 190px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	display:inline-block;
	padding: 0;
	border-right:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	background-color: #fff;
}
.tabstyle-9 .responsive-tabs li:last-child {
	border-right:1px solid #ebebeb;
}
.tabstyle-9 .responsive-tabs li:first-child {
	border-left:1px solid #ebebeb;
}
.tabstyle-9 .responsive-tabs li a {
	display: block;
	padding: 26px 20px;
	text-align: center;
	line-height: 23px;
	font-size:14px;
	font-weight:normal;
	text-transform:uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}
.tabstyle-9 .responsive-tabs li a span {
	font-size:32px;
}
.tabstyle-9 .responsive-tabs li a:hover, .tabstyle-9 .responsive-tabs li.active, .tabstyle-9 .responsive-tabs li.active a {
	color: #727272;
	background-color:#101010;
}

.tabstyle-9 .responsive-tabs-content {
	margin-bottom: 20px;
}

.tabstyle-9-feature-box {
	float:left;
	width:100%;
	padding:0px;
}
.tabstyle-9-feature-box-2 {
	float:left;
	width:100%;
	padding:0;
}

		
/* =========== left Tab style 1 ==========  */

.tabs-left1-holder {
	width: 100%;
	padding:0px;
	float:left;
}
.tabs-left1-holder .responsive-tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    position: relative;
    background-color: #fff;
}
.tabs-left1-holder .responsive-tabs li {
    width: 190px;
    margin:0 0 5px 0;
    text-align: center;
    line-height: 50px;
    float: left;
    padding: 0;
    background-color: #fff;
	
}
.tabs-left1-holder .responsive-tabs li a {
	display: block;
	padding: 35px 20px;
	text-align: center;
	line-height: 23px;
	font-size: 14px;
	color:#101010;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
	border:1px solid #f0f0f0;
}
.tabs-left1-holder .responsive-tabs li a span {
	font-size:34px;
}
.tabs-left1-holder .responsive-tabs li a:hover, .tabs-left1-holder .responsive-tabs li.active, .tabs-left1-holder .responsive-tabs li.active a {
    color: #727272;
    background-color: #101010;
}


.tabs-left1-holder .responsive-tabs.responsive-tabs-left {
    width: 225px;
    float: left;
}

.tabs-left1-holder .feature-box {
    border:6px solid #f5f5f5;
    float: left;
    width: 100%;
    padding: 45px 60px;
}

.tabs-left1-holder .responsive-tab-title p strong{
	font-size:24px;
	color:#101010;
	border-bottom:1px solid #101010;
	}

.tabs-left1-holder .responsive-tab-title{
	margin-bottom:50px;
	}

/* =========== left Tab style 2 ==========  */

.tabs-left2-holder {
	width: 100%;
	padding:0px;
	float:left;
}
.tabs-left2-holder .responsive-tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    position: relative;
    background-color: transparent;
}
.tabs-left2-holder .responsive-tabs-content {
    background-color: #fff;
	padding:65px 80px;
}

.tabs-left2-holder .responsive-tabs li {
    width: 190px;
    margin:0 0 5px 0;
    text-align: center;
    line-height: 50px;
    float: left;
    padding: 0;
    background-color: #fff;
	
}
.tabs-left2-holder .responsive-tabs li a {
	display: block;
	padding: 35px 20px;
	text-align: center;
	line-height: 23px;
	font-size: 14px;
	color:#101010;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
	border:1px solid #fff;
}
.tabs-left2-holder .responsive-tabs li a span {
	font-size:34px;
}
.tabs-left2-holder .responsive-tabs li a:hover, .tabs-left2-holder .responsive-tabs li.active, .tabs-left2-holder .responsive-tabs li.active a {
    color: #ecae3d;
    background-color: #fff;
}


.tabs-left2-holder .responsive-tabs.responsive-tabs-left {
    width: 225px;
    float: left;
}

.tabs-left2-holder .feature-box {
    border:6px solid #f5f5f5;
    float: left;
    width: 100%;
    padding: 45px 60px;
}
.tabs-left2-holder .responsive-tabs li a {
	position: relative;
}
.tabs-left2-holder .responsive-tabs li a .arrow-right {
	position:absolute;
	width: 0;
	height: 0;
	right: -17px;
	top: 42px;
	opacity:0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #fff;
}
.tabs-left2-holder .responsive-tabs li.active a .arrow-right {
	opacity:1;
}
.tabs-left2-holder .responsive-tab-title p strong{
	font-size:24px;
	color:#101010;
	border-bottom:1px solid #101010;
	}

.tabs-left2-holder .responsive-tab-title{
	margin-bottom:50px;
	}

@media only screen and (max-width: 1024px) {
.tabstyle-5 .responsive-tabs {
    left: 10%;
	width: 96%;
}
.tabstyle-8 .responsive-tabs {
    left: 0;
}




}

@media only screen and (max-width: 640px) {
.tabs-left2-holder .responsive-tabs li a .arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    right: -17px;
    top: 42px;
    opacity: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
}


}

@media only screen and (max-width: 480px) {
.tabs-left2-holder .responsive-tabs-content {
    padding: 60px 50px;
}
.ttitle strong {
    font-size: 20px;
}




}



@media only screen and (max-width: 360px) {

.tab-content-holder {
    padding:0px;

}
.tabstyle-5 .responsive-tabs li {
    border-left: 1px solid #ebebeb;
}
.tabstyle-5-feature-box-2 {
    padding: 35px;
}
.tabs-left1-holder .feature-box {
    padding: 35px 40px;
}
.tabs-left2-holder .responsive-tabs-content {
    padding: 30px 30px;
}
.ce4-feature-box-14 .inner-box .img-main {
    top: 199px;
}
.tab-content-holder-9 {
    padding: 0px 30px 30px 30px;
}





}












@media only screen and (max-width: 320px) {
.tab-content-style-4 {
    padding: 0 0 0 0;
}



}

