{% for i in range(0, 5) %}
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="sp-feature-box-3 margin-bottom">
        <a class="product-link" href="#">
            <div class="img-box">
                <img src="http://placehold.it/600x700" alt="" class="img-responsive"/>
            </div>
            <div class="clearfix"></div>
            <h6 class="less-mar-1">Mens Suit</h6>
            <p>Lorem ipsum dolor sit amet</p>
        </a>
        <h6 class="text-gyellow">$ 25.00</h6>
        <a class="btn btn-border light btn-small" href="#">
            В корзину
        </a>
        <a class="btn btn-border light btn-small pull-right" href="#">
            Сравнить
        </a>
    </div>
</div>
{% endfor %}