<div class="sidebar-item-holder">
    <h6 class="sp-sb-title">Categories</h6>
    <ul class="sp-sb-links">
        <li><a href="#">Business</a></li>
        <li><a href="#">Education</a></li>
        <li><a class="active" href="#">Travel</a></li>
        <li><a href="#">Creative</a></li>
        <li><a href="#">Wedding</a></li>
        <li><a href="#">Restaurant</a></li>
    </ul>
</div>
<!--end item holder-->

<div class="sidebar-item-holder">
    <h6 class="sp-sb-title">Tags</h6>
    <ul class="sp-sb-links">
        <li><a href="#">Animation</a></li>
        <li><a href="#">Art</a></li>
        <li><a href="#">UI Design</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Art</a></li>
        <li><a href="#">Responsive</a></li>
        <li><a href="#">Develop</a></li>
    </ul>
</div>
<!--end item holder-->