.gallery {
}

.gallery .previews,
.gallery .full,
.gallery .desc {
    float: left;
    margin-right: 10px;
}

.gallery .desc, .gallery .full {
    width: 550px;
    text-align: center;
    font-size: 12px;
}

.gallery .previews a {
    /*float: left;*/
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.gallery .previews.style-2 a {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.gallery .previews.two {
    width: 450px;
}

.gallery .previews.two a {
    float: left;
    margin-right: 8px;
    margin-top: 15px;
}

.gallery .full, .gallery .full img {
    max-width: 100%;
}

.gallery .previews a, .gallery .full {
    outline: 1px solid #eaeaea;
}
.gallery .previews a {
    position: relative;
    width: 120px;
    height: 120px;
}
.gallery .previews img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gallery .previews a::after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.gallery .previews a:hover, .gallery .previews a.selected {
    border: 0;
}
.gallery .previews a:hover::after, .gallery .previews a.selected::after {
    background: rgba(0,0,0,0);
}

.gallery .full img:hover {
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
/*----------------------------RESPONSIVE STYLES------------------------------- */
/* ---------- MAX 1200PX ---------- */
@media screen and (max-width: 1200px) {
    .gallery .previews a {
        float: left;
    }
}

/* ---------- MAX 1024PX ---------- */
@media screen and (max-width: 1024px) {

    .gallery .previews a {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 1000px) {

}

/* ---------- MAX 991PX ---------- */
@media only screen and (max-width: 991px) {

}

/* ---------- MAX 800PX ---------- */
@media only screen and (max-width: 800px) {

}

/* ---------- MAX 768PX ---------- */
@media only screen and (max-width: 768px) {

}

/* ---------- MAX 767PX ---------- */
@media only screen and (max-width: 767px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {
    .gallery .full, .gallery .full {
        height: auto;
        width: 400px;
    }

    .gallery .previews a {
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/* ---------- MAX 360PX ---------- */
@media screen and (max-width: 360px) {

    .gallery .full, .gallery .full img {
        height: auto;
        width: 300px;
    }

}

/* ---------- MAX 320PX ---------- */
@media only screen and (max-width: 320px) {

    .gallery .full, .gallery .full img {
        height: auto;
        width: 260px;
    }

}