<section class="parallax-1">
    <div class="container-fluid nopadding">
        <div class="section-overlay dark-2">
            <div class="container sec-tpadding-2 sec-bpadding-2 advantages">
                <div>
                    <div class="col-md-8 col-md-offset-4 col-sm-10 col-sm-offset-2 text-inner clearfix align-left">
                        <div class="text-box white padding-7">
                            <div class="col-xs-12 nopadding">
                                <div class="sec-title-container less-padding-4 text-left">
                                    <h1 class="uppercase section-title">Преимущества</h1>
                                    <div class="clearfix"></div>
                                    <div class="fe-title-line-1 align-left"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--end title-->

                            <h6 class="margin-bottom-5 section-subtitle">Наша репутация – это самое главное. Но есть ещё
                                несколько очень важных моментов:</h6>

                            <div class="iconlist-2">
                                <div class="icon dark"><i class="fa fa-check"></i></div>
                                <div class="text">Высококачественное оборудование мировых производителей с
                                    гарантией до 30лет
                                </div>
                            </div>
                            <!--end item-->

                            <div class="iconlist-2">
                                <div class="icon dark"><i class="fa fa-check"></i></div>
                                <div class="text">Качественный монтаж, который выполняет команда
                                    квалифицированных специалистов
                                </div>
                            </div>
                            <!--end item-->

                            <div class="iconlist-2">
                                <div class="icon dark"><i class="fa fa-check"></i></div>
                                <div class="text">Оформление всей документации за Вас</div>
                            </div>
                            <!--end item-->

                            <div class="iconlist-2">
                                <div class="icon dark"><i class="fa fa-check"></i></div>
                                <div class="text">Гарантийное и послегарантийное сервисное обслуживание</div>
                            </div>
                            <!--end item-->

                            <div class="iconlist-2">
                                <div class="icon dark"><i class="fa fa-check"></i></div>
                                <div class="text">Удалённый мониторинг Вашей солнечной энергосистемы из любой
                                    точки мира
                                </div>
                            </div>
                            <!--end item-->

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-padding section-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <div class="sec-title-container text-center">
                    <h6 class="margin-bottom-5">Использование солнечных энергетических систем это:</h6>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--end title-->

            <div class="col-md-6">
                <div class="ce4-feature-box-36 margin-bottom">
                    <div class="left svg-icon"><span class="svg-icon-house"></span></div>
                    <div class="text-box-right">
                        <h5 class="less-mar-1 title uppercase nopadding roboto-slab">Автономность</h5>
                        <div class="title-line"></div>
                        <div class="clearfix"></div>
                        <p>Защищённость от повышения тарифов на энергоресурсы со стороны государства или
                            монополистов.</p>
                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-md-6">
                <div class="ce4-feature-box-36 margin-bottom">
                    <div class="left svg-icon"><span class="svg-icon-battery"></span></div>
                    <div class="text-box-right">
                        <h5 class="less-mar-1 title uppercase nopadding roboto-slab">Стабильность</h5>
                        <div class="title-line"></div>
                        <div class="clearfix"></div>
                        <p>Бесперебойное получение энергии, независимо от состояния муниципальной
                            энергосети.</p>
                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-divider-margin-5"></div>
            <div class="col-md-6">
                <div class="ce4-feature-box-36 margin-bottom">
                    <div class="left svg-icon"><span class="svg-icon-profit"></span></div>
                    <div class="text-box-right">
                        <h5 class="less-mar-1 title uppercase nopadding roboto-slab">Доход</h5>
                        <div class="title-line"></div>
                        <div class="clearfix"></div>
                        <p>Кроме автономности солнечная энергия позволяет получать прибыль от продажи излишек
                            электроэнергии в сеть.</p>
                    </div>
                </div>
            </div>
            <!--end item-->

            <div class="col-md-6">
                <div class="ce4-feature-box-36 margin-bottom">
                    <div class="left svg-icon"><span class="svg-icon-ecology"></span></div>
                    <div class="text-box-right">
                        <h5 class="less-mar-1 title uppercase nopadding roboto-slab">Экологичность</h5>
                        <div class="title-line"></div>
                        <div class="clearfix"></div>
                        <p>Возобновляемая солнечная электроэнергия не зависит от ископаемых источников энергии и
                            не наносит вреда природе.</p>
                    </div>
                </div>
            </div>
            <!--end item-->

        </div>
    </div>
</section>

{% put scripts %}
<script>
    $('.parallax-1').parallax("50%", 0.3);
</script>
{% endput %}