<section class="parallax-2 home-contact-form">
    <div class="container-fluid nopadding">
        <div class="parallax-overlay light">
            <div class="container sec-moreless-padding">
                <div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h1 class="uppercase section-title">Контакты</h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-sm-12">
                        {% component 'ContactForm' %}
                    </div>
                    <!--end item-->

                    <div class="text-left col-md-4 col-sm-12">
                        <div class="col-sm-12 text-center">
                            <h4 class="font-weight-7">
                                <img src="{{ 'assets/images/logo.svg'|theme }}" style="height: 35px; margin-top: -10px;"/>
                                ACTIVE SUN
                            </h4>
                        </div>
                        <div class="home-contact-details col-md-12 col-md-offset-0 col-sm-5 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                            <p><i class="fa fa-phone fa-fw"></i> +38 (068) 784-59-71</p>
                            <p><i class="fa fa-fw"></i> +38 (073) 061-82-28</p>
                            <p><i class="fa fa-map-marker fa-fw"></i> г. Винница,<br></p>
                            <p><i class="fa fa-fw"></i> ул. Олексы Новакивского 8а</p>
                        </div>
                        <div class="home-contact-details col-md-12 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <p><i class="fa fa-fw fa-envelope"></i> <a href="mailto:info@activesun.com.ua">info@activesun.com.ua</a>
                            </p>
                            <p><i class="fa fa-fw fa-facebook"></i> <a href="https://www.facebook.com/Active-SUN-758462240990236/"
                                                                       target="_blank">Страница Facebook</a></p>
                            <p><i class="fa fa-fw fa-vk"></i> <a href="https://vk.com/club147232050" target="_blank">Группа VK</a>
                            </p>
                        </div>
                    </div>
                    <!--end item-->


                </div>
            </div>
        </div>
    </div>
</section>
{% put scripts %}
<script>
    $('.parallax-2').parallax("50%", 0.3);
</script>
{% endput %}