title = "Страница не найдена (404)"
url = "/404"
layout = "default"
==
<div id="content-wrap" class="page-builder">
    <section id="page-content">
            <div class="clearfix">
                <div class="be-section clearfix">
                    <div class="be-section-pad clearfix" >
                        <div class="be-row be-wrap clearfix">
                            <h1>Страница не найдена</h1>
                            <p>Извините, запрошенная Вами страница не найдена.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>