title = "О компании"
url = "/about"
layout = "default"

[Employees]
==

{% put hero %}
    {% partial 'site/hero-subtitle' subtitle="Лучшие условия для наших клиентов – следствие проделанной нами роботы"%}
{% endput %}

<section class="sec-padding">
    <div class="container">
        <p>
            <b>Active Sun</b> – это коллектив квалифицированных специалистов, активно занимающихся изучением, разработкой и внедрением новых технологий в сфере альтернативной энергетики для частных домохозяйств и предприятий разного вида деятельности.
            Делать понятными и доступными энергосберегающие технологии и альтернативную энергетику – это основная задача нашей команды.
        </p>

        <h3 class="text-center sec-tpadding-2">Обратившись к нам, Вы получаете:</h3>

        <div class="row sec-tpadding-2">
            <div class="col-md-4 col-sm-4 col-xs-12 sec-bpadding-2">
                <div class="svg-icon-about"><span class="svg-icon-operator"></span></div>
                <h5 class="less-mar-1 nopadding text-center">Сервис</h5>
                <div class="title-line-short title-line-about"></div>
                <p>
                    Подробная профессиональная   консультация при выборе оборудования, услуги и подключении.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 sec-bpadding-2">
                <div class="svg-icon-about"><span class="svg-icon-handshake"></span></div>
                <h5 class="less-mar-1 nopadding text-center">Надежность</h5>
                <div class="title-line-short title-line-about"></div>
                <p>
                    Надежный деловой партнер, основными качествами которого являются профессионализм, ответственность и порядочность.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 sec-bpadding-2">
                <div class="svg-icon-about"><span class="svg-icon-guarantee"></span></div>
                <h5 class="less-mar-1 nopadding text-center">Гарантии</h5>
                <div class="title-line-short title-line-about"></div>
                <p>
                    Гарантия от лучших мировых производителей на все оборудование.
                </p>
            </div>
        </div>

        {% component 'Employees' %}

        <h6 class="text-center">Вы всегда можете рассчитывать на индивидуальный подход и открытость наших сотрудников, при воплощении всех Ваших идей, и проектов в жизнь</h6>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-bpadding-2 text-center">
    {% component 'ContactButton' %}
</section>