title = "База знаний"
url = "/articles"
layout = "default"
[Articles]

==
<section class="sec-padding">
    <div class="container">
        <div class="row">
            {% component 'Articles' %}
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding text-center">
    {% component 'ContactButton' %}
</section>