title = "База знаний"
url = "/articles/:article_slug"
layout = "default"

[Articles]
==
{% put title %}
    {{ current_article.title }} - {% default %}
{% endput %}
{% put hero %}

{% endput %}

<section class="sec-tpadding-2">
    <div class="container">
        <h1>{{ current_article.title }}</h1>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-bpadding-2">
    <div class="container">
        {% partial 'Articles::single-article' %}
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding text-center">
    {% component 'ContactButton' %}
</section>