title = "Корзина"
url = "/catalog/cart"
layout = "default"

==


<section>
    <div class="pagenation-holder">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <ol class="breadcrumb">
                        <li><a href="{{ 'catalog'|page }}">Каталог</a></li>
                        <li class="current"><a href="#">Корзина</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!--end section-->

<section class="sec-padding">
    <div class="container">
        {% partial 'Catalogue::cart' %}
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->