title = "Каталог"
url = "/catalog/:subcategory_slug?/:page?"
layout = "default"
is_hidden = 0

==
{% put title %}
    {% if Catalogue.getSubcategoryName %}
        {{ Catalogue.getSubcategoryName }} - {% default %}
    {% else %}
        {% default %}
    {% endif %}
{% endput %}
<section class="sec-bpadding">
    <div class="container">
        <div class="row">
            <div class="pagenation-holder no-border">
                {% partial 'Catalogue::catalog-breadcrumbs' %}
            </div>
            {% partial 'Catalogue::catalogue' %}
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding text-center">
    {% component 'ContactButton' %}
</section>