title = "Сравнение"
url = "/catalog/comparison/:subcategory_slug?"
layout = "default"
is_hidden = 0

==
<section class="sec-padding">
    <div class="container">
        {% partial 'Catalogue::comparison' %}
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding text-center">
    {% component 'ContactButton' %}
</section>