title = "Контакты"
url = "/contacts"
layout = "default"
==

{% put scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2W_dEztMkbz-FHIIyb-V13ETccsfy3mA"></script>
<script src="{{ 'assets/js/gmaps/jquery.gmap.min.js'|theme }}"></script>
<script>
    $("#map_extended_full").gMap({
        controls: false,
        scrollwheel: true,
        maptype: 'HYBRID',
        markers: [
            {
                latitude: 49.2057750,
                longitude: 28.3902757,
                icon: {
                    image: "{{ 'assets/js/gmaps/images/gmap-pin-red.png'|theme }}",
                    iconsize: [26, 46],
                    iconanchor: [12,46]
                }
            }
        ],
        latitude: 49.2057750,
        longitude: 28.3902757,
        zoom: 16
    });
</script>
{% endput %}


<section>
    <div class="container-fluid nopadding">
        <div class="container sec-moreless-padding">
            <div class="row no-margin">

                <div class="col-md-6">

                    <div id="map_extended_full" class="map">
                        <p>This will be replaced with the Google Map.</p>
                    </div>
                    <div class="text-left contact-details">
                        <div class="col-sm-12 text-center">
                            <h4 class="font-weight-7 padding-top-2">
                                <img src="{{ 'assets/images/logo.svg'|theme }}" style="height: 35px; margin-top: -10px;"/>
                                ACTIVE SUN
                            </h4>
                        </div>

                        <p><i class="fa fa-phone fa-fw"></i> +38 (068) 784-59-71</p>
                        <p><i class="fa fa-fw"></i> +38 (073) 061-82-28</p>
                        <p><i class="fa fa-map-marker fa-fw"></i> г. Винница, ул. Олексы Новакивского 8а</p>
                        <p><i class="fa fa-fw fa-envelope"></i> <a href="mailto:info@activesun.com.ua">info@activesun.com.ua</a>
                        </p>
                        <p><i class="fa fa-fw fa-facebook"></i> <a href="https://www.facebook.com/Active-SUN-758462240990236/"
                                                                   target="_blank">Страница Facebook</a></p>
                        <p><i class="fa fa-fw fa-vk"></i> <a href="https://vk.com/club147232050" target="_blank">Группа VK</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 contact-form">
                    {% component 'ContactForm' %}
                </div>
                <!--end item-->


            </div>
        </div>
    </div>
</section>