title = "Ошибка"
url = "/error"
layout = "default"
==
<div id="content-wrap" class="page-builder">
    <section id="page-content">
            <div class="clearfix">
                <div class="be-section clearfix">
                    <div class="be-section-pad clearfix" >
                        <div class="be-row be-wrap clearfix">
                            <h1>Ошибка</h1>
                            <p>Извините, что-то пошло не так и страница не может быть отображена.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>