title = "Зелёный тариф"
url = "/green-tariff"
layout = "default"
==

<section class="sec-padding">
    <div class="container">
        <p>
            <b>Зелёный тариф</b> – это специальный законопроект, позволяющий частным домохозяйствам и юридическим лицам, продавать в электросеть общего пользования, электрическую энергию полученную из альтернативных источников.
        </p>

        <div class="row sec-padding">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5 class="less-mar-1 nopadding">Преимущество:</h5>
                <div class="title-line-short"></div>
                <p>
                    Стоимость электроэнергии продаваемой по «зелёному» тарифу, привязана к евро, и превышает цену покупки электричества из общей сети в несколько раз.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5 class="less-mar-1 nopadding">Гарантии:</h5>
                <div class="title-line-short"></div>
                <p>
                    Закон о «зелёном» тарифе действует до 1 января 2030 года. Его выполнение контролирует не только Украина но и международные организации.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5 class="less-mar-1 nopadding">Для чего:</h5>
                <div class="title-line-short"></div>
                <p>
                    Такие льготные условия были созданы для стимулирования создания новой национальной энергетической системы, значительную часть которой будут составлять возобновляемые источники энергии. Распределённая энергосистема станет более защищённой от перегрузок, локальных аварий, снизит потребление природных ископаемых для выработки электрической энергии.
                </p>
            </div>
        </div>


        <h3 class="text-center">«Зелёный» тариф для дома</h3>

        <p>
            Частные домовладельцы могут подключать по «зёленому» тарифу солнечные электрические станции мощностью до 30 кВт-ч.
        </p>

        <h5 class="margin-top-5">Как работает «зелёный» тариф:</h5>
        <p class="text-center">
            <img src="{{ 'assets/images/content/how-green-tariff-works.png'|theme }}" alt="Как работает зелёный тариф" class="img-thumbnail" />
        </p>

        <h5 class="margin-top-5">Как подключить «зелёный» тариф для частных лиц:</h5>
        <div class="row margin-top-5">
            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-electric-tower"></div>
                <div class="text-box">
                    <h6>1. Определить мощность подключения</h6>
                    <p>
                        Узнать информацию о мощности общей сети подведенной к объекту. При необходимости увеличить мощность.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-solar-energy"></div>
                <div class="text-box">
                    <h6>2. Подобрать оборудование</h6>
                    <p>
                        Определение технического задания, расчёт проекта, покупка готовой сетевой станции или собрать свою конфигурацию.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-wrench"></div>
                <div class="text-box">
                    <h6>3. Установить оборудование</h6>
                    <p>
                        Осуществление монтажа и пусконаладочных робот для запуска сетевой солнечной станции.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-bank"></div>
                <div class="text-box">
                    <h6>4. Открыть счёт</h6>
                    <p>
                        Открытие счёта в любом банке для начисления от продаж электроэнергии по «зелёному» тарифу.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-files"></div>
                <div class="text-box">
                    <h6>5. Подать документы</h6>
                    <p>
                        Предоставление в облэнерго необходимых документов.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-meter"></div>
                <div class="text-box">
                    <h6>6. Установить счётчик</h6>
                    <p>
                        Покупка счётчика, и согласование с облэнерго его установку.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-edit"></div>
                <div class="text-box">
                    <h6>7. Подписать договор</h6>
                    <p>
                        Подписание с облэнерго акта приёма-передачи электроэнергии.
                    </p>
                </div>
            </div>

            <div class="ce4-feature-box-6">
                <div class="circle svg-icon-profit"></div>
                <div class="text-box">
                    <h6>8. Получить прибыль</h6>
                    <p>
                        Ежемесячное перечисление денежных средств на Ваш  банковский счет за проданное электричество по «зелёному» тарифу.
                    </p>
                </div>
            </div>
        </div>

        <p>
            Ставка «зелёного» тарифа для частных домов привязана к курсу евро и зависит от года введения станции в эксплуатацию:
        </p>
        <ul class="disc-list">
            <li>в 2017-2019 годах – 18 евро центов за 1 кВт-ч</li>
            <li>в 2020-2024 годах – 16 евро центов за 1 кВт-ч</li>
            <li>в 2025-2029 годах – 14 евро центов за 1 кВт-ч</li>
        </ul>
        <p>
            Каждый наш покупатель сетевой солнечной электростанции получает пакет <b>бесплатных</b> консультационных услуг, или мы берём на себя все обязательства по подключению «зелёного» тарифа.
        </p>


        <h3 class="text-center">Промышленный «зелёный» тариф</h3>

        <p>
            «Зелёный» тариф для предприятий и других форм хозяйственной деятельности, является одной из самых выгодных инвестиций для получения прибыли предпринимателями. Один из неоспоримых плюсов, это отсутствие ограничений по мощности станции.
        </p>

        <h5 class="margin-top-5">Процедура подключение промышленного «зелёного» тарифа:</h5>

        <p class="text-center">
            <img src="{{ 'assets/images/content/green-procedure.png'|theme }}" alt="Процедура подключение промышленного зелёного тарифа" class="img-responsive" />
        </p>

        <p>
            Ставка промышленного «зелёного» тарифа привязана к курсу евро и зависит от года введения в эксплуатацию и места расположения станции.
        </p>
        <p>
            Размер ставки «зелёного» тарифа для наземных станций введённых в эксплуатацию 2017-2019 года – 15 евро центов за 1 кВт-ч.
        </p>
        <p>
            Размер ставки «зелёного» тарифа для станций размещённых на крышах введенных в эксплуатацию 2017-2019 года – 16.3 евро центов за 1 кВт-ч.
        </p>
        <p>
            Мы оказываем бесплатные консультативные услуги или берем все обязательства на себя по подключению «зелёного» тарифа для всех своих клиентов.
        </p>

    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-bpadding-2 text-center">
    {% component 'ContactButton' %}
</section>