title = "Просмотр товара"
url = "/product/:subcategory_slug/:product_slug"
layout = "default"

==
{% put hero %}

{% endput %}
{% put title %}
    {{ product.name }} - {% default %}
{% endput %}
{% put styles %}
    <link href="{{ [
        'assets/js/product-preview/stylesheet.css',
        'assets/js/product-preview/fancybox/jquery.fancybox.css'
    ]|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/product-preview/fancybox/jquery.fancybox.js'|theme }}"></script>
<script>
    $(document).ready(function(){
        $('.product_preview_left .previews a').click(function(){
            var largeImage = $(this).attr('data-full');
            $('.selected').removeClass();
            $(this).addClass('selected');
            $('.full img').hide();
            $('.full img').attr('src', largeImage);
            $('.full img').fadeIn();
        });
        $('.full img').on('click', function(){
            var modalImage = $(this).attr('src');
            $.fancybox.open(modalImage);
        });
    });
</script>
{% endput %}
<section>
    <div class="pagenation-holder">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><h3>Просмотр товара</h3></div>
                <div class="col-md-8">
                    {% partial 'Catalogue::product-breadcrumbs' %}
                </div>

            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!--end section-->

<section class="sec-padding">
    <div class="container">
        {% partial 'Catalogue::single-product' %}
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-padding text-center">
    {% component 'ContactButton' %}
</section>