title = "Услуги"
url = "/services/:service_slug"
layout = "default"

[Services]
==
{% put title %}
    {{ current_service.name }} - {% default %}
{% endput %}
{% put hero %}
    {% partial 'site/hero' page_hero_text=current_service.name %}
{% endput %}

<section class="sec-padding">
    <div class="container service-content">
        {% partial 'Services::single-service' %}
    </div>
</section>
<div class="clearfix"></div>
<!-- end section -->

<section class="sec-bpadding-2 text-center">
    {% component 'ContactButton' %}
</section>