/* SKIN.LESS */

body {
  background: white !important;
}
.text-color-primary {
  color: #de6009 !important;
}
.bg-color-primary {
  background-color: #de6009;
}
.bg-color-secondary {
  background-color: #b2c81e;
}
.bg-color-tertiary {
  background-color: #38cef9;
}
.btn.btn-color-primary {
  background-color: #de6009;
}
.header-section ul li.active > a {
  color: #de6009 !important;
}
.cart-box ul li ul,
.comparison-box ul li ul,
.cart-box ul li ul li,
.comparison-box ul li ul li {
  background: #fff;
  border-color: #f5f5f5;
}
.header-section ul li.comparison-parent .comparison-box {
  width: 400px;
}
.header-section ul li.comparison-parent .comparison-box .content{
  padding: 15px;
}
.header-section ul li.comparison-parent .comparison-box ul {
  margin: 0;
}
.header-section ul li.comparison-parent .comparison-box ul li {
  min-height: 20px;
  padding: 0 0 5px 0;
}
.header-section.style4 ul li ul li {

}
.header-section ul li:hover > a,
.header-section ul li.active > a {
  color: #de6009;
}
.header-section.style4 ul li.search-parent .search-box {
  background: #de6009;
}
.header-section.style4 ul li.search-parent .search-box .form-control {
  background: #de6009;
}
@media only screen and (max-width: 1150px) {
  .header-section.style4 #menu ul {
    background: #de6009;
  }
}
.header-section ul li .number {
  background: #de6009;
}

.header-section ul li.mega-menu > ul > li ul li a:hover {
  color: #de6009;
}
.header-section ul li.search-parent a.m-link {
  color: #de6009;
}
.header-section ul li.cart-parent a.m-link,
.header-section ul li.comparison-parent a.m-link {
  color: #de6009;
}
.header-section.dark-dropdowns.style4 ul li:hover > a,
.header-section.dark-dropdowns.style4 ul li.active > a {
  color: #de6009 !important;
}
.header-section.dark-dropdowns.style4 ul li.mega-menu > ul > li ul li a:hover {
  color: #de6009;
}
.header-section.dark-dropdowns.style4 #menu ul li ul li:hover a span.sub-arrow,
.header-section.dark-dropdowns.style4 #menu ul li ul li.active a span.sub-arrow {
  color: #de6009;
}
.header-section.dark-dropdowns.style2 ul li:hover > a,
.header-section.dark-dropdowns.style2 ul li.active > a {
  color: #de6009;
}
.header-section.dark-dropdowns.style2 ul li.mega-menu > ul > li ul li.active a {
  color: #de6009;
}
.header-section.dark-dropdowns.style2 ul li.mega-menu > ul > li ul li a:hover {
  color: #de6009;
}
.btn-top-1 {
  background-color: #de6009;
}
.header-section.dark-dropdowns.style1 ul li:hover > a,
.header-section.dark-dropdowns.style1 ul li.active > a {
  color: #de6009 !important;
}
.header-section.dark-dropdowns.style1 ul li.mega-menu > ul > li ul li a:hover {
  color: #de6009;
}
.header-section.dark-dropdowns.style1 ul li:hover > a,
.header-section.dark-dropdowns.style1 ul li.active > a {
  color: #de6009 !important;
}
.header-section.act-style-1 ul li.active > a {
  background-color: #de6009 !important;
}
.header-section.style3 #menu ul li.mega-menu li ul li:hover a,
.header-section.style3 #menu ul li.mega-menu li ul li.active a {
  color: #de6009;
}
.header-section.style3 #menu ul li.mega-menu li ul li:hover a,
.header-section.style3 #menu ul li.mega-menu li ul li.active a {
  color: #de6009;
}
.header-section.style3 #menu ul li ul li:hover > a,
.header-section.style3 #menu ul li ul li.active > a {
  color: #de6009;
}
.header-section.style3 #menu ul li ul li:hover a span.sub-arrow,
.header-section.style3 #menu ul li ul li.active a span.sub-arrow {
  color: #de6009;
}
.header-section.style5.dark #menu ul li ul li:hover > a,
.header-section.style5.dark #menu ul li ul li.active > a {
  color: #de6009;
}
.header-section ul li.cart-parent .cart-box span {
  color: #de6009;
}
.header-section ul li.cart-parent .cart-box span {
  color: #de6009;
}
/*.header-section ul li.cart-parent .cart-box .btn.btn-primary {*/
  /*background: #de6009 none repeat scroll 0 0 !important;*/
/*}*/
.tp-caption.sbut1 a {
  background-color: #de6009;
}
.ce4-feature-box-3 .inner-box .title-line {
  background-color: #de6009;
}
.ce4-big-title span {
  color: #de6009;
}
.ce4-readmore-big {
  border-bottom: 1px solid #de6009;
  color: #de6009;
}
.ce4-feature-box-46 .img-box .border-big {
  border: 24px solid #de6009;
}
a.read-more {
  color: #de6009;
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  border-color: #de6009;
  color: #de6009;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter::after {
  border-top: 4px solid #de6009;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter {
  background-color: #de6009;
}
.ce4-feature-box-4 .img-box .sc-icons-box {
  background-color: #de6009;
}
.text-gyellow {
  color: #de6009;
}
.ce4-feature-box-5:hover .circle,
.ce4-feature-box-5.active .circle {
  background-color: #de6009;
  border: 6px solid #de6009;
}
.ce4-feature-box-5:hover .title,
.ce4-feature-box-5.active .title {
  color: #de6009;
}
.slide-controls-2 .owl-theme .owl-controls .owl-page.active span {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.ce4-feature-box-7 .img-box-main .text .blog-post-info span {
  color: #de6009;
}
.slide-controls-2 .owl-theme .owl-controls .owl-page span {
  border: 1px solid #de6009;
}
.ce4-feature-box-44:hover .inner-box,
.ce4-feature-box-44.active .inner-box {
  background-color: #de6009;
}
.ce4-feature-box-44:hover,
.ce4-feature-box-44.active {
  border: 1px solid #de6009;
}
.fo-sec-3 .primary-box {
  background-color: #de6009;
}
.footer-title-bottomstrip.gyellow {
  background-color: #de6009;
}
.footer-tags li a:hover,
.footer-tags li a.active {
  border: 1px solid #de6009;
  color: #de6009;
}
.fo-posts a:hover,
.fo-posts a.active {
  color: #de6009;
}
a.read-more.gyellow-2 {
  color: #de6009;
}
.scrollup {
  background: #de6009 url(../images/scroll-top-arrow.png) no-repeat 15px 16px;
}
.ce4-feature-box-2:hover .icon-plain-small,
.ce4-feature-box-2:hover .title,
.ce4-feature-box-2.active .icon-plain-small,
.ce4-feature-box-2.active .title {
  color: #de6009;
}
.iconlist li i {
  color: #de6009;
}
#togglePlay.pause:hover {
  background: rgba(252, 166, 3, 0.94);
}
#togglePlay.pause {
  background: rgba(252, 166, 3, 0.98);
}
.ce4-feature-box-22 .img-box .text-box .sc-icons-box {
  background-color: #de6009;
}
.post-infoicon {
  background-color: #de6009;
}
.parallax-overlay.gyellow {
  background: rgba(252, 166, 3, 0.94);
}
.ce4-feature-box-16:hover .icon,
.ce4-feature-box-16.active .icon {
  color: #de6009;
}
.ce4-feature-box-16:hover .title-line,
.ce4-feature-box-16.active .title-line {
  background-color: #de6009;
}
.btn.appstore.gyellow {
  background-color: #de6009;
}
.btn.appstore.white:hover {
  background-color: #de6009;
}
.ce4-feature-box-19 .title-line {
  background-color: #de6009;
}
.ce4-feature-box-28:hover .inner-box .icon,
.ce4-feature-box-28:hover .inner-box .title,
.ce4-feature-box-28.active .inner-box .icon,
.ce4-feature-box-28.active .inner-box .title {
  color: #de6009;
}
.btn.btn-gyellow-2 {
  background-color: #de6009;
}
.slide-controls-3 .owl-theme .owl-controls .owl-page.active span {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.ce4-feature-box-31 .img-box .icon-box {
  background: rgba(252, 166, 3, 0.75);
}
.smk_accordion .accordion_in.style4.acc_active > .acc_head {
  color: #de6009;
}
.ce4-price-table-2:hover .inner-box,
.ce4-price-table-2.active .inner-box {
  border: 1px solid #de6009;
}
.ce4-price-table-2:hover .inner-box .price-circle,
.ce4-price-table-2.active .inner-box .price-circle {
  color: #de6009;
}
.ce4-price-table-2:hover .inner-box .price-circle .price,
.ce4-price-table-2.active .inner-box .price-circle .price {
  color: #de6009;
}
.ce4-price-table-2:hover .inner-box .price-circle,
.ce4-price-table-2.active .inner-box .price-circle {
  border: 3px solid #de6009;
}
.ce4-price-table-2:hover .inner-box .btn.btn-dark-3,
.ce4-price-table-2.active .inner-box .btn.btn-dark-3 {
  background-color: #de6009;
}
.progressbar-style1 .progress-bar {
  color: #de6009;
}
.fe-feature-box-33:hover .icon-plain-msmall,
.fe-feature-box-33.active .icon-plain-msmall {
  color: #de6009;
}
.fe-feature-box-33:hover .title,
.fe-feature-box-33.active .title {
  color: #de6009;
}
.fe-feature-box-33 .title-line {
  background-color: #de6009;
}
.section-gyellow {
  background-color: #de6009;
}
.tp-caption.text-gyellow {
  color: #de6009;
}
.btn.btn-gyellow {
  background-color: #de6009;
}
.ce4-feature-box-34:hover .text-box .icon,
.ce4-feature-box-34:hover .text-box .title,
.ce4-feature-box-34.active .text-box .icon,
.ce4-feature-box-34.active .text-box .title {
  color: #de6009;
}
.ce4-feature-box-36:hover .title-line {
  background-color: #de6009;
}
.ce4-feature-box-38:hover .icon,
.ce4-feature-box-38.active .icon {
  border: 1px solid #de6009;
  color: #de6009;
}
.ce4-feature-box-38:hover .title,
.ce4-feature-box-38.active .title {
  color: #de6009;
}
.btn.btn-border.gyellow {
  border-color: #de6009;
  color: #de6009;
}
.btn.btn-border.gyellow:hover {
  background-color: #de6009;
  border-color: #de6009;
}
.tabstyle-8 .responsive-tabs li a:hover,
.tabstyle-8 .responsive-tabs li a:hover span,
.tabstyle-8 .responsive-tabs li.active,
.tabstyle-8 .responsive-tabs li.active a,
.tabstyle-8 .responsive-tabs li.active a span {
  color: #de6009;
}
.ce4-feature-box-39:hover .img-box .text-box,
.ce4-feature-box-39.active .img-box .text-box {
  background-color: #de6009;
}
.ce4-feature-box-39:hover,
.ce4-feature-box-39.active {
  border: 1px solid #de6009;
}
.ce4-post-holder-1 .text-box .blog-post-info span {
  color: #de6009;
}
.smk_accordion .accordion_in.style2.acc_active > .acc_head {
  color: #de6009;
}
.ce4-feature-box-12:hover .icon,
.ce4-feature-box-12:hover .title,
.ce4-feature-box-12.active .icon,
.ce4-feature-box-12.active .title {
  color: #de6009;
}
.ce4-feature-box-12 .title-line {
  background-color: #de6009;
}
.tabs-left2-holder .responsive-tabs li a:hover,
.tabs-left2-holder .responsive-tabs li.active,
.tabs-left2-holder .responsive-tabs li.active a {
  color: #de6009;
}
a.read-more.gyellow {
  color: #de6009;
}
.ce4-feature-box-13:hover .img-box-main,
.ce4-feature-box-13.active .img-box-main {
  border: 2px solid #de6009;
}
.ce4-feature-box-13 .img-box-main .img-box .sc-icons-box {
  background-color: #de6009;
}
.ce4-price-table-1:hover .inner-box .price-circle .price,
.ce4-price-table-1.active .inner-box .price-circle .price {
  color: #de6009;
}
.ce4-price-table-1:hover .inner-box .price-circle,
.ce4-price-table-1.active .inner-box .price-circle {
  color: #de6009;
}
.ce4-price-table-1:hover a.btn.btn-dark-3,
.ce4-price-table-1.active a.btn.btn-dark-3 {
  background-color: #de6009;
}
.ce4-feature-box-14:hover .inner-box,
.ce4-feature-box-14.active .inner-box {
  border: 1px solid #de6009;
}
.ce4-feature-box-40:hover,
.ce4-feature-box-40.active {
  border: 1px solid #de6009;
}
.ce4-feature-box-40:hover .title,
.ce4-feature-box-40.active .title {
  color: #de6009;
}
.ce4-feature-box-40:hover .inner-box .title-line,
.ce4-feature-box-40.active .inner-box .title-line {
  background-color: #de6009;
}
.ce4-price-table-3 th .title-header.active {
  background-color: #de6009;
}
.ce4-feature-box-45:hover .icon,
.ce4-feature-box-45.active .icon {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.fo-newsletter-submit-1.gyellow {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.tp-caption.sbut4 a:hover {
  background-color: #de6009;
}
.ag-feature-box-2:hover .icon-plain-msmall,
.ag-feature-box-2.active .icon-plain-msmall {
  color: #de6009;
}
.ag-feature-box-2:hover .title,
.ag-feature-box-2.active .title {
  color: #de6009;
}
.footer-social-icons li a:hover,
.footer-social-icons li a.active {
  background-color: #de6009;
}
.by-feature-box-1 .price {
  color: #de6009;
}
.by-feature-box-1:hover h4,
.by-feature-box-1.active h4 {
  color: #de6009;
}
.cbp-l-grid-mosaic .cbp-caption-activeWrap {
  background: rgba(252, 166, 3, 0.75);
}
.slide-controls-primary .owl-theme .owl-controls .owl-page span {
  background: #de6009 none repeat scroll 0 0;
}
.bd-title-line-1 {
  border-top: 1px solid #de6009;
}
.bd-feature-box-2 .img-box .sc-icons-box {
  background-color: #de6009;
}
.bd-portfolio-box-1 .item-box .hover-box .inner-box {
  border: 2px solid #de6009;
}
.bd-feature-box-4:hover .post-date-box,
.bd-feature-box-4.active .post-date-box {
  background-color: #de6009;
}
.bd-feature-box-4:hover h4,
.bd-feature-box-4.active h4 {
  color: #de6009;
}
.tp-caption.bd-text-1 {
  color: #de6009;
}
.br-feature-box-2:hover h3,
.br-feature-box-2.active h3 {
  color: #de6009;
}
.tp-caption.bb-text-3 {
  color: #de6009;
}
.bb-feature-box-2:hover h5,
.bb-feature-box-2.active h5 {
  color: #de6009;
}
.tp-caption.by2-text-2 {
  color: #de6009;
}
.tp-caption.sbut2 a:hover {
  background-color: #de6009;
}
.by2-feature-box-2:hover h4 {
  color: #de6009;
}
.footer-social-icons-2 li a:hover {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.bg2-featurebox-1 .postinfo-box .title a:hover {
  color: #de6009;
}
.bg2-right-col-item-holder .social-links li a:hover {
  color: #de6009;
}
.bg2-header-banner-1 .overlay-1 .text-box .blog-post-info span {
  color: #de6009;
}
.bg2-header-banner-1 .overlay-1 .text-box .title a:hover {
  color: #de6009;
}
.bg2-rightcol-links li a:hover,
.bg2-rightcol-links li a.active {
  color: #de6009;
}
a:hover.text-hover-gyellow {
  color: #de6009;
}
.bg3-header-banner-1 .overlay-1 .text-box .blog-post-info span {
  color: #de6009;
}
.bg3-featurebox-1 .postinfo-box .title a:hover {
  color: #de6009;
}
.bg3-right-col-item-holder .social-links li a:hover {
  color: #de6009;
}
.bg3-rightcol-links li a:hover,
.bg3-rightcol-links li a.active {
  color: #de6009;
}
.br2-feature-box-1:hover h5 {
  color: #de6009;
}
.br2-feature-box-1:hover .icon-plain-msmall {
  color: #de6009;
}
.br2-feature-box-2 .text-box .sc-icons-box {
  background-color: #de6009;
}
.section-overlay.gyellow {
  background: rgba(252, 166, 3, 0.75);
}
.ce-post-holder .text-box .blog-post-info span {
  color: #de6009;
}
.social-icons-2 li a:hover,
.social-icons-2 li a.active {
  color: #de6009;
}
.fo-sec-1 .newsletter-box {
  background-color: #de6009;
}
.ce2-feature-box-1 .title-line {
  background-color: #de6009;
}
.opening-hours-list li i {
  color: #de6009;
}
.ce2-post-holder .text-box .blog-post-info span {
  color: #de6009;
}
.co-title-line-1 {
  background-color: #de6009;
}
.co-title-line-2 {
  background-color: #de6009;
}
.cy-post-holder .cy-post-img .post-date-box {
  color: #de6009;
}
.cy-feature-box-5 .img-box .sc-icons-box {
  background-color: #de6009;
}
ul.cy-gallery li a .hover-box .inner-box {
  border: 1px solid #de6009;
}
.ch-feature-box-1:hover .inner-box h4,
.ch-feature-box-1.active .inner-box h4 {
  color: #de6009;
}
.ch-feature-box-2:hover .iconbox-small,
.ch-feature-box-2.active .iconbox-small {
  color: #de6009;
}
.ch-feature-box-2:hover .inner-box,
.ch-feature-box-2.active .inner-box {
  border-left: 1px solid #de6009;
}
.ch-feature-box-2:hover h5,
.ch-feature-box-2.active h5 {
  color: #de6009;
}
.ch-feature-box-4:hover h4,
.ch-feature-box-4.active h4 {
  color: #de6009;
}
.ch-feature-box-4:hover .ch-title-line-2,
.ch-feature-box-4.active .ch-title-line-2 {
  background-color: #de6009;
}
.post-date-box {
  background-color: #de6009;
}
.ch-feature-box-5 .overlay .text-box h4 a:hover {
  color: #de6009;
}
.cn-title-line-1 {
  background-color: #de6009;
}
.cn-feature-box-1:hover .iconbox-small,
.cn-feature-box-1.active .iconbox-small {
  color: #de6009;
}
.cn-feature-box-1:hover h5,
.cn-feature-box-1.active h5 {
  color: #de6009;
}
.cn-team-holder .img-box .overlay .sc-icons li a:hover {
  color: #de6009;
}
.tp-caption.sbut2 a:hover {
  background-color: #de6009;
}
.ce3-feature-box-1:hover .img-box .text-box .inner-box .icon-plain-msmall,
.ce3-feature-box-1.active .img-box .text-box .inner-box .icon-plain-msmall {
  color: #de6009;
}
.ce3-feature-box-2:hover .inner-box,
.ce3-feature-box-2.active .inner-box {
  border-left: 1px solid #de6009;
}
.ce3-feature-box-2:hover .iconbox-small,
.ce3-feature-box-2.active .iconbox-small {
  color: #de6009;
}
.ce3-feature-box-2:hover h5,
.ce3-feature-box-2.active h5 {
  color: #de6009;
}
.ce3-feature-box-4:hover h5,
.ce3-feature-box-4.active h5 {
  color: #de6009;
}
.ce3-feature-box-4:hover .ce3-circle,
.ce3-feature-box-4.active .ce3-circle {
  background-color: #de6009;
}
.ce3-feature-box-5:hover .text-box .icon-plain-msmall,
.ce3-feature-box-5.active .text-box .icon-plain-msmall {
  color: #de6009;
}
.ce3-feature-box-5:hover .text-box a,
.ce3-feature-box-5.active .text-box a {
  color: #de6009;
}
.dt-feature-box-1:hover,
.dt-feature-box-1.active {
  background-color: #de6009;
}
.dt-feature-box-5 .img-box .sc-icons-box {
  background-color: #de6009;
}
.fo-appointment-form .submit-btn {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.en-feature-box-2 .img-box .price-badge {
  background-color: #de6009;
}
.en-feature-box-5 .img-box .post-date-box {
  color: #de6009;
}
.en-feature-box-5 .img-box .post-date-box span {
  color: #de6009;
}
.en-feature-box-6:hover h5,
.en-feature-box-6.active h5 {
  color: #de6009;
}
.fr-feature-box-5:hover h5,
.fr-feature-box-5.active h5 {
  color: #de6009;
}
.fr-feature-box-6 .submit-btn {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.fn-feature-box-1:hover .title,
.fn-feature-box-1.active .title {
  color: #de6009;
}
.fn-feature-box-1:hover .iconbox-large,
.fn-feature-box-1.active .iconbox-large {
  color: #de6009;
}
.fn-feature-box-2:hover .overlay .text-box a,
.fn-feature-box-2.active .overlay .text-box a {
  color: #de6009;
}
.fn-feature-box-3:hover .overlay .text-box a,
.fn-feature-box-3.active .overlay .text-box a {
  color: #de6009;
}
.fn-feature-box-4:hover .icon-plain-medium,
.fn-feature-box-4.active .icon-plain-medium {
  color: #de6009;
}
.fn-feature-box-4:hover .title,
.fn-feature-box-4.active .title {
  color: #de6009;
}
.fn-feature-box-7:hover .overlay .text-box .title,
.fn-feature-box-7:hover .overlay .text-box .title-2,
.fn-feature-box-7.active .overlay .text-box .title,
.fn-feature-box-7.active .overlay .text-box .title-2 {
  color: #de6009;
}
ul.fe-graph-info li {
  color: #de6009;
}
.fe-feature-box-1:hover .img-box .text-box,
.fe-feature-box-1.active .img-box .text-box {
  background: rgba(252, 166, 3, 0.78);
}
.fe-feature-box-3:hover .icon-plain-msmall,
.fe-feature-box-3.active .icon-plain-msmall {
  color: #de6009;
}
.fe-feature-box-3:hover .title,
.fe-feature-box-3.active .title {
  color: #de6009;
}
.fe-feature-box-3 .title-line {
  background-color: #de6009;
}
.fe-feature-box-5 .img-box .sc-icons-box {
  background-color: #de6009;
}
.fe-feature-box-6 .blog-post-info span {
  color: #de6009;
}
.fe-feature-box-7 .blog-post-info span {
  color: #de6009;
}
.fe-feature-box-10:hover h5,
.fe-feature-box-10.active h5 {
  color: #de6009;
}
.fe-feature-box-11:hover .text-big,
.fe-feature-box-11:hover .text-small,
.fe-feature-box-11.active .text-big,
.fe-feature-box-11.active .text-small {
  color: #de6009;
}
.gm-title-line-1 {
  background-color: #de6009;
}
.gm-feature-box-2 .text-box .blog-post-info span {
  color: #de6009;
}
.gm-feature-box-3 .text-box .blog-post-info span {
  color: #de6009;
}
.gm-price-table:hover .btn.btn-light,
.gm-price-table.active .btn.btn-light {
  background-color: #de6009;
}
.hs-feature-box-1:hover .img-box .text-box .title,
.hs-feature-box-1.active .img-box .text-box .title {
  color: #de6009;
}
.hs-feature-box-1 .img-box .text-box .title-line {
  background-color: #de6009;
}
.hs-feature-box-1:hover .img-box .text-box .btn-border.light,
.hs-feature-box-1.active .img-box .text-box .btn-border.light {
  border: 2px solid #de6009;
  color: #de6009;
}
.hs-feature-box-2:hover h5,
.hs-feature-box-2.active h5 {
  color: #de6009;
}
.hs-feature-box-3 .img-box .text-box .sc-icons-box {
  background: rgba(252, 166, 3, 0.75);
}
.hs-feature-box-4 .img-box .text-box .post-date-box span {
  color: #de6009;
}
.hs-feature-box-4 .img-box .text-box .title-line {
  background-color: #de6009;
}
.hs-feature-box-7 .img-box .overlay .sc-icons li a:hover {
  background-color: #de6009;
}
.hs-feature-box-9:hover .img-box .text-box .title,
.hs-feature-box-9.active .img-box .text-box .title {
  color: #de6009;
}
.hs-feature-box-9 .img-box .text-box .title-line {
  background-color: #de6009;
}
.hs-feature-box-9:hover .img-box .text-box .btn-border.light,
.hs-feature-box-9.active .img-box .text-box .btn-border.light {
  border: 2px solid #de6009;
  color: #de6009;
}
.tp-caption.offerbadge.two {
  background-color: #de6009;
}
.hg-feature-box-1:hover .inner-box .icon,
.hg-feature-box-1:hover .inner-box .title,
.hg-feature-box-1.active .inner-box .icon,
.hg-feature-box-1.active .inner-box .title {
  color: #de6009;
}
.hg-feature-box-1:hover .inner-box .icon,
.hg-feature-box-1:hover .inner-box .title,
.hg-feature-box-1.active .inner-box .icon,
.hg-feature-box-1.active .inner-box .title {
  color: #de6009;
}
.hg-feature-box-1 .inner-box .title-line {
  background-color: #de6009;
}
.hg-feature-box-2:hover .title,
.hg-feature-box-2:hover .icon,
.hg-feature-box-2.active .title,
.hg-feature-box-2.active .icon {
  color: #de6009;
}
.hg-price-table-1:hover .inner-box .price-circle .price,
.hg-price-table-1.active .inner-box .price-circle .price {
  color: #de6009;
}
.hg-price-table-1:hover .inner-box .price-circle,
.hg-price-table-1.active .inner-box .price-circle {
  color: #de6009;
}
.hg-price-table-1:hover a.btn.btn-dark-3,
.hg-price-table-1.active a.btn.btn-dark-3 {
  background-color: #de6009;
}
.hg-sc-icons li a:hover,
.hg-sc-icons li a.active {
  background-color: #de6009;
}
.hg-newsletter-submit-1:hover {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.hl-feature-box-1 .btn-submit {
  background-color: #de6009;
}
.hl-feature-box-3:hover .icon,
.hl-feature-box-3:hover .title,
.hl-feature-box-3.active .icon,
.hl-feature-box-3.active .title {
  color: #de6009;
}
.hl-feature-box-6:hover .icon,
.hl-feature-box-6:hover .title,
.hl-feature-box-6.active .icon,
.hl-feature-box-6.active .title {
  color: #de6009;
}
.hl-feature-box-6:hover .icon,
.hl-feature-box-6:hover .title,
.hl-feature-box-6.active .icon,
.hl-feature-box-6.active .title {
  color: #de6009;
}
.im-feature-box-1 .price {
  color: #de6009;
}
.ml-feature-box-3:hover .icon,
.ml-feature-box-3:hover .title,
.ml-feature-box-3.active .icon,
.ml-feature-box-3.active .title {
  color: #de6009;
}
.ml-feature-box-4 .img-box .sc-icons-box {
  background-color: #de6009;
}
.pr-feature-box-4 .img-box .date-box {
  background-color: #de6009;
}
.pl-title-line-1 {
  background-color: #de6009;
}
.pl-feature-box-2 .item-box:hover .icon,
.pl-feature-box-2 .item-box:hover .title,
.pl-feature-box-2 .item-box.active .icon,
.pl-feature-box-2 .item-box.active .title {
  color: #de6009;
}
.smart-forms .btn-primary {
  background-color: #de6009;
}
.re-feature-box-1 .img-box .price {
  color: #de6009;
}
.re-feature-box-1:hover .img-box .price,
.re-feature-box-1.active .img-box .price {
  color: #de6009;
}
.sl-feature-box-3:hover .icon,
.sl-feature-box-3:hover .title,
.sl-feature-box-3.active .icon,
.sl-feature-box-3.active .title {
  color: #de6009;
}
.sl-feature-box-3:hover .icon,
.sl-feature-box-3:hover .title,
.sl-feature-box-3.active .icon,
.sl-feature-box-3.active .title {
  color: #de6009;
}
.sl-feature-box-5:hover .title,
.sl-feature-box-5.active .title {
  color: #de6009;
}
.sl-feature-box-5 .image-box .date-shape {
  color: #de6009;
}
.tp-caption.gyellow {
  color: #de6009;
}
.tp-feature-box-2:hover .icon-plain-msmall,
.tp-feature-box-2.active .icon-plain-msmall {
  color: #de6009;
}
.tp-feature-box-2:hover .title,
.tp-feature-box-2.active .title {
  color: #de6009;
}
.tp-feature-box-2 .title-line {
  background-color: #de6009;
}
.tp-title-line {
  background-color: #de6009;
}
.tp-feature-box-4:hover .text-box .inner-box,
.tp-feature-box-4.active .text-box .inner-box {
  border: 1px solid #de6009;
}
.tp-feature-box-4:hover .text-box .inner-box .title,
.tp-feature-box-4.active .text-box .inner-box .title {
  color: #de6009;
}
.tp-feature-box-4 .text-box .inner-box .title-line {
  background-color: #de6009;
}
.wg-feature-box-4:hover .icon,
.wg-feature-box-4.active .icon {
  border: 3px solid #de6009;
  color: #de6009;
}
.wg-feature-box-4:hover .title,
.wg-feature-box-4.active .title {
  color: #de6009;
}
.wg-feature-box-5 .title-line {
  background-color: #de6009;
}
.wy-feature-box-1:hover .title,
.wy-feature-box-1.active .title {
  color: #de6009;
}
.wy-feature-box-2 .img-box .badge {
  background-color: #de6009;
}
.wy-post-holder .blog-post-info span {
  color: #de6009;
}
.ya-title-line-1 {
  background-color: #de6009;
}
.ya-feature-box-1:hover .title,
.ya-feature-box-1.active .title {
  color: #de6009;
}
.ya-feature-box-1:hover .img-box .time,
.ya-feature-box-1.active .img-box .time {
  color: #de6009;
}
.ya-feature-box-1:hover .text-box .title-line,
.ya-feature-box-1.active .text-box .title-line {
  background-color: #de6009;
}
.ya-feature-box-4 .text-box .inner-box .sc-icons li a:hover,
.ya-feature-box-4 .text-box .inner-box .sc-icons li a.active {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.ya-feature-box-5 .text-box .blog-post-info span {
  color: #de6009;
}
.ya-feature-box-6 .text-box .blog-post-info span {
  color: #de6009;
}
.ya-price-table:hover .btn.btn-light,
.ya-price-table.active .btn.btn-light {
  background-color: #de6009;
}
.pagenation-holder .breadcrumb li.current a {
  color: #de6009;
}
.personal-info.orange-2 li {
  color: #de6009;
}
.iconlist.gyellow li i {
  color: #de6009;
}
.pages-sidebar-links li a:hover,
.pages-sidebar-links li a.active {
  color: #de6009;
}
ul.sitemap li a {
  color: #de6009;
}
.error-search-box .input_submit {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.blog-pagenation li a:hover,
.blog-pagenation li a.active {
  background-color: #de6009;
  border: 1px solid #de6009;
}
.cbp-l-filters-button .cbp-filter-counter::after {
  border-top: 4px solid #de6009;
}
.cbp-l-filters-button .cbp-filter-counter {
  background-color: #de6009;
}
.cbp-l-caption-buttonLeft,
.cbp-l-caption-buttonRight {
  background-color: #de6009;
}
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
  background-color: #de6009;
  border-color: #de6009;
}
.cbp-l-filters-alignRight .cbp-filter-counter::after {
  border-top: 4px solid #de6009;
}
.cbp-l-filters-alignRight .cbp-filter-counter {
  background: #de6009 none repeat scroll 0 0;
}
.sp-feature-box-3 .img-box .badge {
  background-color: #de6009;
}
.sp-feature-box-3 .img-box a.view-btn {
  background: rgba(252, 166, 3, 0.75);
}
.sp-sc-icons li a:hover,
.sp-sc-icons li a.active {
  border: 1px solid #de6009;
  color: #de6009;
}
.sp-sb-links li a:hover,
.sp-sb-links li a.active {
  color: #de6009;
}
.gallery .previews a:hover,
.gallery .previews a.selected {
  border: 1px solid #de6009;
}
.sp-feature-box-4 .submit-btn:hover {
  background-color: #de6009;
  border: 1px solid #de6009;
}




.scrollup {
  box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}
.scrollup:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  background-color: #f56b0b;
}
.scrollup:active {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.stripe-loading-indicator .stripe,
.stripe-loading-indicator .stripe-loaded {
  background: #de6009 !important;
}

.loader-item.style1 .double-bounce1, .loader-item.style1 .double-bounce2 {
  background-color: #de6009;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body > footer span {
    padding: 0 20px;
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
h1 { font-size: 40px; line-height: 48px; }
h2 { font-size: 36px; line-height: 44px; }
h3 { font-size: 32px; line-height: 38px; }
h4 { font-size: 28px; line-height: 34px; }
h5 { font-size: 24px; line-height: 28px; }
h6 { font-size: 20px; line-height: 24px; }
.text-small { font-size: 14px; line-height: 16px; }
.btn.round {
    border-radius: 4px;
}
.btn.xround-1 {
    border-radius: 10px;
}
.btn.xround-2 {
    border-radius: 20px;
}
.btn.xround-3 {
    border-radius: 30px;
}
.btn.xround-4 {
    border-radius: 40px;
}
.btn.xround-5 {
    border-radius: 50px;
}
.btn.xround-6 {
    border-radius: 60px;
}
.btn.xround-7 {
    border-radius: 70px;
}
/* HEADER */
.header-section ul li {
  text-transform: none;
  position: relative;
}

.header-section.style1 ul li a,
.header-section.style4 ul li a {
  padding: 25px 15px;
}
.header-section .logo.style-2 {
  margin-top: 12px;
}

.header-section.style4 .logo.style-2 { display: none; }
.header-section.style4.before.pin .logo.style-2 { display: inline-block; }


.hamburger {
  padding: 15px 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #747474;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  height: 0; }
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }


@media only screen and (max-width: 1151px) {
  .header-section.style1,
  .header-section.style4 {
      height: 70px !important;
  }
  .header-section.style4 .logo.style-2 { display: inline-block;}
}

.header-section.style4.before.pin ul li a {
    color: #101010;
}

.logo {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  padding: 13px 0;
  white-space: nowrap;
}
.header-section {
  z-index: 100;
}
.header-section ul li ul.dm-align-2 {
  position: fixed;
  z-index: 99;
  top: 50px;
  width: 90%;
  left: 5%;
  margin-left: 0;
}
.header-section #menu ul li {
  border-color: #e6e6e6 !important;
}
.header-section .cart-parent .fa,
.header-section .comparison-parent .fa {
    color: #727272;
}
.header-section.style4:not(.pin-start) .cart-parent .fa,
.header-section.style4:not(.pin-start) .comparison-parent .fa {
    color: #ffffff;
}
.header-section.style4:not(.pin-start) .hamburger-inner,
.header-section.style4:not(.pin-start) .hamburger-inner::before,
.header-section.style4:not(.pin-start) .hamburger-inner::after {
  background-color: #fff;
}
.header-section.style4.before .cart-parent .fa,
.header-section.style4.before .comparison-parent .fa {
    color: #727272;
}
.header-section .cart-parent a:hover .fa,
.header-section .comparison-parent a:hover .fa {
    color: #de6009;
}
.header-section ul li.phone-parent {
  display: none;
}
@media only screen and (max-width: 1150px) {
  .header-section #menu {
    padding: 7px 0 0;
  }
  .header-section #menu ul li {
    background: #fff !important;
  }
  .header-section .logo.style-2 {
    margin: 5px 0 0 0;
  }
  .header-section .fa-shopping-cart,
  .header-section .fa-balance-scale {
    padding: 20px 0 0 0;
  }
  .header-section .number {
    margin: 25px 0 0 0px;
  }
  .header-section ul li.menu-icon {
    padding: 5px 0 0 0;
  }
  .header-section.style1 ul li a,
  .header-section.style4 ul li a {
    padding: 0 15px;
  }
  .header-section.style4 ul li.cart-parent .cart-box,
  .header-section.style4 ul li.comparison-parent .comparison-box {
    top: 60px;
  }
  .header-section ul li.cart-parent .number,
  .header-section ul li.comparison-parent .number {
    top: 4px;
  }
  .header-section.style4:not(.pin-start) .logo_dark {
    color: #fff;
  }
  .header-section.style4.pin-start,
  .header-section.style1 {
    background: #fff;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0,0, 0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0,0, 0.1);
    box-shadow: 0px 0px 8px 1px rgba(0, 0,0, 0.1);
  }
  .logo-col {
    width: 0 !important;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
  }
  .header-section .main-nav .nav.top-nav li {
    float: left;
  }
  .navbar-toggle {
    padding: 0 !important;
  }
  .header-section ul li.phone-parent {
    display: inline-block;
    font-weight: 600;
    padding: 20px 0 0 0;
    float: right !important;
    color: #727272;
  }
  .header-section ul li.phone-parent a {
    color: #727272;
  }
  .header-section ul li.phone-parent a:hover {
    color: #de6009;
  }
  .header-section ul li.phone-parent .phone-icon {
    display: none;
  }
  .header-section .phone-parent.has-siblings .phone_number {
    display: inline-block;
  }
  .header-section.style4:not(.pin-start) .phone-parent a {
    color: #fff !important;
  }
}
@media only screen and (max-width: 410px) {
  .header-section .phone-parent.has-siblings .phone-icon {
    display: inline-block;
  }
  .header-section .phone-parent.has-siblings .phone_number {
    display: none;
  }
}
@media only screen and (min-width: 1150px) {
  .header-section ul li ul.dm-align-2 {
    text-align: center;
    top: 70px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  }

  .header-section.style1.no-bg .mod-menu,
  .header-section.style4.no-bg .mod-menu {
    background: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header-section .dm-align-2 li {
  background: #fff !important;
}
.header-section .dm-align-2 li a {
  color: #101010 !important;
}
.header-section .dm-align-2 li a:hover,
.header-section #menu > ul li > a:hover,
.header-section #menu > ul li.active > a {
  color: #de6009 !important;
  margin-left: 0 !important;
}

.cart-parent .number,
.comparison-parent .number {
  font-weight: 600;
}


.main-nav .nav.navbar-nav.top-nav {
  padding-left: 10px;
}


/* HEADER END */

/* CART BOX */
.cart-header,
.comparison-header,
.cart-box ul li,
.comparison-box ul li {
  color: #101010;
  font-size: 1em;
}
.header-section ul li.cart-parent .cart-box ul li,
.header-section ul li.comparison-parent .comparison-box ul li {
  font-size: 1em;
  color: #101010;
}
.header-section ul li.cart-parent .cart-box ul li .close-btn .fa,
.header-section ul li.comparison-parent .comparison-box ul li .close-btn .fa {
  color: #f66 !important;
}
.header-section ul li.cart-parent .cart-box ul li .close-btn:hover,
.header-section ul li.comparison-parent .comparison-box ul li .close-btn:hover {
  opacity: 1;
}
.cart-box,
.comparison-box {
  background: #fff !important;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
}
.cart-box ul li img {
  max-width: 80px;
  max-height: 80px;
}
.cart-box a.product-link {
  padding: 0 !important;
  color: #101010 !important;
}
.cart-box a.product-link:hover {
  margin: 0 !important;
  color: #de6009 !important;
}
.cart-box .show-all {
  display: block;
  text-align: center;
  padding: 20px 0 0 0 !important;
  color: #101010 !important;
}
.cart-box .show-all:hover {
  color: #de6009 !important;
}
.header-section ul li.cart-parent .cart-box .btn {
  background-color: #de6009 !important;
  color: #fff !important;
}
.header-section ul li.cart-parent .cart-box .btn:hover {
  background-color: #f56b0b !important;
  color: #fff !important;
}
.header-section.style4 ul li .comparison-box ul li a {
  color: #242424;
}
.cart-box__products-list li {
  width: 100%;
}

.comparison-box__subcategory-link {
  margin-right: 40px;
}
.comparison-box__subcategory-count {
  display: inline-block !important;
  color: #fff !important;
  background-color: #f56b0b;
  font-size: 0.71429em !important;
  line-height: 17px;
  text-align: center;
  font-weight: 600;
  padding: 0 !important;
  margin-top: 3px;
  min-width: 17px;
  height: 17px;
  border-radius: 17px;
  position: absolute;
  right: 40px;
}
.comparison-box__subcategories-list,
.comparison-box__subcategories-list li {
  width: 100%;
}

/* CART BOX END */

/* HEADER SLIDER */
.header-inner.less-height .text {
  height: 300px;
  padding:11% 0 0 0;
}
.header-bg-full {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 500px;
  height: calc(100vh + 75px);
}
.video-background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url('../videos/no-video.jpg') no-repeat left;
  background-size: cover;
  transition: 1s opacity;
  display: none;
}
.video-background.no-video {
  z-index: 2;
  display: block;
}
@media screen and (min-width: 1000px) {
  .video-background {
    display: block;
  }
  .video-background.no-video {
    display: none;
  }
}
.video-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgb(17,7,0);
    background: -moz-linear-gradient(top,
    rgba(17,7,0,.3) 0%,
    rgba(45,19,2,.4) 50%,
    rgba(17,7,0,.3) 100%);
    background: -webkit-linear-gradient(top,
    rgba(17,7,0,.3) 0%,
    rgba(45,19,2,.4) 50%,
    rgba(17,7,0,.3) 100%);
    background: linear-gradient(to bottom,
    rgba(17,7,0,.3) 0%,
    rgba(45,19,2,.4) 50%,
    rgba(17,7,0,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#2D1302',
            endColorstr='#2D1302',
            GradientType=0 );
}
.header-bg-inner {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
  margin: 150px 0;
}
.header-bg-inner .hero-logo {
  height: 75px;
  margin-top: -10px;
}
.header-bg-inner-title {
  padding-top: 100px;
  position: absolute;
  min-width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-bg-inner h1,
.header-bg-inner h2,
.header-bg-inner h4,
.random-background h1,
.random-background h4 {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.header-bg-inner h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
.header-bg-inner h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  font-family: 'Open Sans', sans-serif;
}
.header-bg-inner h4 {
  font-size: 24px;
  line-height: 28px;
  padding-top: 40px;
}
@media only screen and (max-width: 800px) {
  .header-bg-inner .hero-logo {
    height: 60px;
  }
  .header-bg-inner h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .header-bg-inner h2 {
    font-size: 42px;
    line-height: 48px;
  }
  .header-bg-inner h4 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 640px) {
  .header-bg-inner {
    margin-bottom: 50px;
  }
  .header-bg-inner .hero-logo {
    height: 50px;
  }
  .header-bg-inner h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .header-bg-inner h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .header-bg-inner h4 {
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }
/*
  .header-bg-full {
    height: calc(100vh - 70px);
  }*/
  .header-bg-full .header-bg-inner-title {
    padding: 80px 0;
    min-width: 92%;
  }
}
.hidden_video {
  opacity: 0;
  transition: 1s opacity;
}
.visible_video {
  opacity: 1;
  transition: 1s opacity;
}
.btn.btn-yellow{
    background-color: #de6009;
    color: #fff;
}
.btn.btn-yellow:hover {
    background-color: #f56b0b;
    color: #fff;
}
.btn.btn-large {
  max-width: calc(100% - 30px);
  margin: 0 auto;
  white-space: normal;
  font-size: 18px;
}
.random-background {
    position: relative;
    text-align: center;
    padding: 100px 20px;
    background-size: cover !important;
    background-position: 50% 50% !important;
}
.random-background h1,
.random-background h4 {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 20px);
    z-index: 2;
    word-wrap: break-word;
    line-height: 1.35 !important;
    padding-top: 4px;
    padding-bottom: 5px;
}
.random-background:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
@media screen and (max-width: 800px) {
    .random-background {
        padding: 60px 10px;
    }
    .random-background h1 {
        font-size: 32px;
        line-height: 36px;
    }
    .random-background h4 {
      font-size: 20px;
    }
}
/* HEADER SLIDER END */

h1.section-title {
    color: #de6009;
    font-weight: 700;
    font-size: 40px;
}
@media screen and (max-width: 520px) {
    h1.section-title {
        font-size: 28px;
        margin-bottom: 0;
    }
    h3.section-subtitle {
        font-size: 24px;
    }
    h6.section-subtitle {
        font-size: 18px;
    }
  .header-section #menu > ul li a {
    padding: 15px;
  }
}

/* SECTION BOXES */

.section-horizontal-padding {
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}

/* SECTION BOXES END */

/*============ Feature boxes ============ */

/* feature box 1
 ------------------------------ */
.tp-feature-box-1 {
  height: 400px;
  position: relative;
  margin: 25px 0;
  padding: 0;
}
.tp-feature-box-1 .tp-feature-box-inner {
  /*margin-left: 25px;*/
  /*padding: 25px;*/
}
.tp-feature-box-1 .tp-feature-box-inner-bg {
  display: block;
  width: calc(100% - 50px);
  margin-left: 25px;
  height: 100%;
  background: linear-gradient(to top, #562503, #02141c);
  overflow:hidden;
  position: relative;
}
.tp-feature-box-1 .tp-feature-box-inner-bg .img {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-position: center;
  background-size: cover;
  opacity: .2;
  transition: all .7s;
}

.tp-feature-box-inner-bg:hover .img,
.tp-feature-box-inner-bg:focus .img {
  transform: scale(1.3);
  opacity: 1;
}
.tp-feature-box-1 .col-text-box {
  float: none;
  display: inline-block;
  width: 100%;
}
.tp-feature-box-1 .text-box {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.tp-feature-box-1 h6 {
  font-weight: bold;
  color: #eee;
  font-family: 'Roboto Slab', serif;
}
.tp-feature-box-1 .text-box .inner-box {
  width:100%;
  height: 100%;
  position: relative;
  z-index:2;
  padding:25px;
  color: #fff;
  transition: all 0.3s ease-out 0s;
}
.tp-feature-box-1 .text-box .inner-box .title-line {
    width: 20%;
    margin: 10px 50% 27px 0;
    height: 1px;
    background-color: #de6009;
  transition: all 0.3s ease-out 0s;
}
.tp-feature-box-inner-bg:hover .text-box .title-line {
  width: 100%;
  transition: all 0.3s ease-out 0s;
}
.tp-feature-box-1 .inner-box .title {
  transition: all 0.3s ease-out 0s;
  word-wrap: break-word;
}
.tp-feature-box-1 .inner-box {
  padding-top: 75px;
  background: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  transition: all 1s ease-out 0s;
}
.tp-feature-box-inner-bg:hover .inner-box {
  background: linear-gradient(to top, rgba(0,0,0,.6) 70%, rgba(0,0,0,0) 100%);
  transition: all 1s ease-out 0s;
}
.tp-feature-box-inner-bg:hover .inner-box .title {
  color:#fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}



.ce4-feature-box-36 {
  width: 100%;
  float:left;
}
.ce4-feature-box-36 .title-line {
    width: 10%;
    height: 1px;
    float: left;
    margin: 8px 0 25px 0;
    background-color: #de6009;
  transition: all 0.3s ease-out 0s;
}
.ce4-feature-box-36:hover .title-line {
    background-color: #de6009;
}
.ce4-feature-box-36 .svg-icon {
    color: #de6009;
}
.ce4-feature-box-36 .svg-icon span {
  width: 50px;
  height: 50px;
  background-size: 50px;
  position: absolute;
  left: 40px;
}

@media screen and (max-width: 520px) {
  .tp-feature-box-1 .tp-feature-box-inner-bg {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* FEATURE BOXES END */

/* ADVANTAGES */

.advantages h1,
.advantages h6,
.advantages .text {
  line-height: 1.5;
}

@media screen and (max-width: 520px) {
  .advantages .padding-7 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .advantages .sec-title-container {
    padding-bottom: 0;
  }

  .advantages h1 {
    font-size: 28px;
    margin-bottom: 0;
  }

  .advantages h6 {
    font-size: 18px;
  }

  .parallax-1 {
    background: none !important;
  }

  .advantages {
    padding: 0;
  }

  .advantages>div>div {
    padding: 0;
  }
}

@media screen and (max-width: 364px) {
  .ce4-feature-box-36 .svg-icon span {
      width: 40px;
      height: 40px;
      background-size: 40px;
      left: 15px;
  }
  .ce4-feature-box-36 .text-box-right h5 {
    font-size: 18px;
    padding-top: 6px !important;
    margin-left: 55px !important;
  }
  .ce4-feature-box-36 .text-box-right .title-line {
    margin-top: 5px;
    margin-left: 55px !important;
  }

}

/* ADVANTAGES END */


/* SVG ICONS */

.svg-icon-house {
  background-image: url('../images/icons/house.png');
  background-image: url('../images/icons/house.svg'), none;
}
.svg-icon-sun {
  background-image: url('../images/icons/sun.png');
  background-image: url('../images/icons/sun.svg'), none;
}
.svg-icon-ecology {
  background-image: url('../images/icons/ecology.png');
  background-image: url('../images/icons/ecology.svg'), none;
}
.svg-icon-battery {
  background-image: url('../images/icons/battery.png');
  background-image: url('../images/icons/battery.svg'), none;
}
.svg-icon-bank {
  background-image: url('../images/icons/bank.png');
  background-image: url('../images/icons/bank.svg'), none;
}
.svg-icon-edit {
  background-image: url('../images/icons/edit.png');
  background-image: url('../images/icons/edit.svg'), none;
}
.svg-icon-electric-tower {
  background-image: url('../images/icons/electric-tower.png');
  background-image: url('../images/icons/electric-tower.svg'), none;
}
.svg-icon-files {
  background-image: url('../images/icons/files.png');
  background-image: url('../images/icons/files.svg'), none;
}
.svg-icon-meter {
  background-image: url('../images/icons/meter.png');
  background-image: url('../images/icons/meter.svg'), none;
}
.svg-icon-profit {
  background-image: url('../images/icons/profit.png');
  background-image: url('../images/icons/profit.svg'), none;
}
.svg-icon-solar-energy {
  background-image: url('../images/icons/solar-energy.png');
  background-image: url('../images/icons/solar-energy.svg'), none;
}
.svg-icon-wrench {
  background-image: url('../images/icons/wrench.png');
  background-image: url('../images/icons/wrench.svg'), none;
}
.svg-icon-operator {
  background-image: url('../images/icons/operator.png');
  background-image: url('../images/icons/operator.svg'), none;
}
.svg-icon-handshake {
  background-image: url('../images/icons/handshake.png');
  background-image: url('../images/icons/handshake.svg'), none;
}
.svg-icon-guarantee {
  background-image: url('../images/icons/guarantee.png');
  background-image: url('../images/icons/guarantee.svg'), none;
}

/* SVG ICONS END */

/* BRANDS */

.brands-list {
  padding-left: 0px;
  overflow: hidden;
  height: 200px;
}
.brands-list li {
  position: relative;
  width: 16.66%;
  float: left;
  height: 200px;
  line-height: 200px;
  transition: all 0.3s ease-out 0s;
}
@media screen and (max-width: 768px) {
  .brands-list li {
    width: 25%;
  }
}
@media screen and (max-width: 520px) {
  .brands-list li {
    width: 33.33%;
  }
}
.brands-list li img {
  width: 100%;
  display: inline-block;
  margin:0 auto;
  width: 75%;
  filter: grayscale(100%);
  transition: all 0.3s ease-out 0s;
}
.brands-list li:hover img {
  filter: none;
}

/* BRANDS END */

/* PARALLAXES */

.parallax-1 {
  width: 100%;
  background: url("../images/parallax/1.jpg") no-repeat fixed 50% 0;
}
.parallax-2 {
  width: 100%;
  background: url("../images/parallax/2.jpg") no-repeat fixed 50% 0;
}
.parallax-1,
.parallax-2 {
    background-size: cover;
}

/* PARALLAXESEND */

/* CONTACTS */

.form-body {
  width:100%;
  padding: 0 40px 40px 40px;
  float:left;
}
.input-1 {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 0;
  color: #101010;
  height: 45px;
  margin-bottom: 15px;
  padding: 8px;
  transition: all 0.3s ease-out 0s;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-1:focus {
  border: 1px solid #de6009;
  outline: medium none !important;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group-addon {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 0;
  color: #747474;
}
.textaria-1 {
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: #101010;
  height: 175px;
  margin-bottom: 15px;
  padding: 8px;
  resize: none;
  transition: all 0.3s ease-out 0s;
  width: 100%;
}
.textaria-1:focus {
  border: 1px solid #de6009;
  outline: medium none !important;
  transition: all 0.3s ease-out 0s;
}

.row.no-margin {
  margin-right: 0;
  margin-left: 0;

}

.contact-form__field-validation_error {
  font-size: 14px;
  color: #de6009;
  margin: 0;
}

@media screen and (max-width: 1000px) {

  .contact-form form {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  .home-contact-form.parallax-2 {
    background: none !important;
  }
  .home-contact-form form {
    padding: 0 0px 40px 0px;
  }
  .home-contact-details {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}
/* CONTACTS END */

/* SHOP */

/* categories spoiler */
.categories_spoiler .accordion_in .acc_content {
  background: none !important;
}
.categories_spoiler .acc_content {
  border: 1px solid #f5f5f5 !important;
  border-top: none !important;
  padding: 5px !important;
}
@media screen and (min-width: 1000px) {
  .categories_spoiler .acc_head {
    display: none !important;
  }
  .categories_spoiler .acc_content {
    border: none !important;
    padding: 0 !important;
  }
}
/* categories spoiler end */

.no-border {
  border: none;
}

/* feature box 3
 ------------------------------ */
.sp-feature-box-3 {
  width:100%;
  float:left;
  margin-bottom: 32px;
  height: 420px;
}
.sp-feature-box-3 .img-box {
  position:relative;
  width:100%;
  float:left;
  overflow:hidden;
  height: 250px;
  transition: all 0.3s ease-out 0s;
}
.sp-feature-box-3 .img-box img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out 0s;
}
.sp-feature-box-3:hover .img-box img {
  opacity: .3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(.9) translate(-55%, -55%);
  transition: all 0.3s ease-out 0s;
}
.sp-feature-box-3 .product-footer {
  background: #fff;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 30px;
}
.sp-feature-box-3 .gradient-cut {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 30px;
  background: linear-gradient(to top, #fff, rgba(0,0,0,0));
}
.btn.btn-border.light{
  border:2px solid #f5f5f5;
  background: #fff;
}
.btn.btn-border.light:hover {
  color:#fff;
  border:2px solid #de6009;
  background-color:#de6009;
}
.sp-feature-box-3 .product-link {
  display: block;
}
.sp-feature-box-3 h6 {
  display: block;
  height: calc(100% - 290px);
  overflow: hidden;
  position: absolute;
  top: 250px;
  width: calc(100% - 30px);
  padding: 0 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,.8);
  transition: all 0.3s ease-out 0s;
}
.sp-feature-box-3:hover .product-link h6 {
  top: 20px;
  transition: all 0.3s ease-out 0s;
  height: calc(100% - 60px);
}

.sp-feature-box-3 .product-brand {
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  color:#888;
  text-align: right;
  width: 65%;
  position: absolute;
  right: 0;
  bottom: 60px;
  padding-right: 10px;
}
.sp-feature-box-3 .product-brand .gradient-cut {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  width: 20px;
  background: linear-gradient(to left, #fff, rgba(0,0,0,0));
}

/* sidebar links
 ------------------------------ */

.sp-sb-links {
  float: left;
  padding-left:10px;
  width: 100%;
}
.sp-sb-links li {
  border-bottom: 1px solid #ececec;
  float: left;
  width: 100%;
}
.sp-sb-links li a {
  float: left;
  padding: 10px 0;
  width: 100%;
  color:#101010;
}
.sp-sb-links li a:hover, .sp-sb-links li a.active {
  color: #de6009;
}
.sp-sb-links li:last-child {
  border-bottom: medium none;
}

/* PRODUCT COUNT */

.add-to-cart-form {
  display: inline;
}

.btn.btn-small.btn-round {
  width: 38px;
  height: 38px;
  background: none;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  padding: 0;
  text-align: center;
}
.btn.btn-small.btn-round:hover {
  background: #de6009;
  border: 2px solid #de6009;
}
.btn.btn-xs.btn-round {
  width: 24px;
  height: 24px;
  background: none;
  border: 2px solid #f5f5f5;
  border-radius: 12px;
  padding: 0;
  text-align: center;
}
.btn.btn-xs.btn-round:hover {
  background: #de6009;
  border: 2px solid #de6009;
}
.product-count {
  margin-top: 20px;
}
table .product-count {
  margin: 0;
  min-width: 120px !important;
}
.product-count input {
  background: none;
  color: #0b0b0b;
  height: 42px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
}
.btn.btn-xs ~ input {
  font-size: 24px;
  line-height: 24px;
}
.btn.btn-small.btn-round.minus {
  margin-left: 20px;
}

/* PRODUCT COUNT END */

/* SHOP END */

/* CART PAGE */
.sp-cart .pro-img    { width: 150px; }
.sp-cart .pro-title  { width:40%; }
.sp-cart .pro-price  { width:10%; }
.sp-cart .quantity   { width:20%; }
.sp-cart .total      { width:10%; }
.sp-cart .pro-remove { width:10%; }
.sp-cart td,
.sp-cart th {
  padding: 10px !important;
}

.pro-title a {
  font-weight: 600;
}
.pro-details {
  width:100%;
  float:left;
}
.pro-details span {
  color:#101010;
  font-size:14px;
  float:left;
  padding-right:10px;
  padding-bottom:10px;
}
.product-details-table {
  width: 100%;
}
.product-details-table tr {
  border-bottom: 1px solid #f5f5f5;
}
.product-details-table td {
  padding: 10px;
}
@media screen and (max-width: 520px) {
  .product-details-table,
  .product-details-table td,
  .product-details-table tr {
    display: block;
  }
}
/* shopping cart page
 ------------------------------ */
.sp-cart tr td.pro-img {
  padding:10px 0;
  float:left;
}
.sp-cart .pro-img img {
  max-width: 100%;
  max-height: 400px;
}
.sp-cart th {
  color:#101010;
  padding:10px 0;
}
.sp-cart td{
  padding:0;
  margin:0px;
}
.sp-cart tr:nth-child(2n) {
  border-top:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
}
.sp-cart tr td:nth-child(2n) {
  padding:10px 0;
}

.sp-cart .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow:none;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 70%;
}

/* cart sub total
 ------------------------------ */
ul.sp-cart-total {
  width:100%;
  padding-left:0px;
}
ul.sp-cart-total li {
  width:100%;
  float:left;
  padding:10px 0;
  border-bottom:1px solid #f1f1f1;
}
ul.sp-cart-total li:last-child {
  border-bottom:none;
}
ul.sp-cart-total li .title {
  font-size:16px;
  color:#101010;
}
ul.sp-cart-total li .price {
  font-size:16px;
  color:#101010;
}

/* CART PAGE END */

/* CHECKOUT PAGE */

/* input for billing address
 ------------------------------ */
.sp-binfo {
  background-color: #fff;
  border: 1px solid #ebebeb;
  float: left;
  height: 45px;
  color:#101010;
  padding: 8px;
  width: 100%;
  margin-bottom:15px;
  transition: all 0.3s ease-out 0s;
}
.sp-binfo.cicons {
  background:url(http://placehold.it/200x40) right 5px no-repeat;
}
.sp-binfo:focus {
  outline: none !important;
  border:1px solid #de6009;
  transition: all 0.3s ease-out 0s;
}
.sp-binfo.less-width {
  width:90%;
}
.sp-binfo-select {
  background-color: #fff;
  border: 1px solid #ebebeb;
  float: left;
  height: 45px;
  color:#101010;
  padding: 5px;
  width: 90%;
  margin-bottom:15px;
  transition: all 0.3s ease-out 0s;
}
.sp-binfo-select.full-width {
  width:100%;
}

/* checkoutbox
 ------------------------------ */
.sp-order-summary{
  width:100%;
  float:left;
  padding:40px;
  border:1px solid #f1f1f1;
}

/* CHECKOUT PAGE END */

/* PAGINATION */

.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  color: #101010;
  float: left;
  line-height: 20px;
  margin-left: -1px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #f5f5f5;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a,
.pagination > li > span {
  margin-left: 0px;
  margin-right: 5px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:hover {
  color: #fff;
  border-color: #de6009;
  background-color: #de6009;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  border-color: #f5f5f5;
  color: #f5f5f5;
}

/* PAGINATION END */

/* GREEN TARIFF */

/* feature box 6
 ------------------------------ */
.ce4-feature-box-6 {
  position:relative;
  width:92%;
  float:right;
  padding: 0 40px 40px 100px;
  border-left: 6px solid #de6009;
  background: #fff url(../images/ce4-12.png) -30px 32px no-repeat;
  transition: all 0.3s ease-out 0s;
}
.ce4-feature-box-6:last-of-type {
  border-left: 6px solid transparent;
}
.ce4-feature-box-6 .circle {
  position: absolute;
  width: 80px;
  height: 80px;
  float: left;
  z-index: 2;
  left: -43px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  line-height: 65px;
  text-align: center;
  border-radius: 100%;
  background-color: #fff;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 6px solid #de6009;
}
.ce4-feature-box-6 .text-box {
  padding-top: 14px;
}

@media screen and (max-width: 640px) {
    .ce4-feature-box-6 {
        padding: 0 20px 20px 40px;
        left: 10px;
        background: #fff;
    }
    .ce4-feature-box-6 .circle {
        width: 60px;
        height: 60px;
        left: -33px;
        background-size: 30px;
    }
    .ce4-feature-box-6 .text-box {
        padding-top: 7px;
    }
}




ul.disc-list,
.service-content ul {
  padding-left: 15px;
    line-height: 1.5;
}
ul.disc-list li:before,
.service-content ul li:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  background: #de6009;
  border-radius: 100%;
  margin-right: 10px;
}
.title-line-short {
  width: 75px;
  height: 1px;
  margin: 10px 0;
  background: #de6009;
}
/* GREEN TARIFF END */

/* BLOG */

.blog-post .title {
  margin-bottom: 5px;
}
.blog-post .title a {
  color: #101010;
}
.blog-post .title a:hover {
  color: #de6009;
}
.blog-post .blog-post-info {
  margin-bottom: 10px;
}

/* BLOG END */

.container p {
  line-height: 1.5;
}

/* ABOUT */
  .svg-icon-about {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0;
    margin-bottom: 20px;
  }
  .svg-icon-about span {
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  .title-line-about {
    margin: 10px auto;
  }

/* ---------- feature box 3 ---------- */

.bb-feature-box-3{
  width:100%;
  padding:170px 35px 35px 35px;
  float:left;
  margin:80px 0 0 0;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}
.bb-feature-box-3 .img-frame {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #fff;
  margin: 40px;
  padding: 0px;
  left: 107px;
  top: 27px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  overflow: hidden;
}
.bb-feature-box-3 .img-frame .img{
  margin: -34px;
  padding: 0 0 0 0;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ABOUT END */

/* FILTER */

.smk_accordion.acc_with_icon .accordion_in.style2 .acc_content {
  background: none !important;
}
.smk_accordion .accordion_in.style2 .acc_head {
  margin-bottom: 0 !important;
  border-color: #f5f5f5 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.smk_accordion .accordion_in.style2.acc_active > .acc_head {
  color: #000 !important;
}
.smk_accordion.acc_with_icon .accordion_in.style2 .acc_content.no-lpadd {
  margin: 0 !important;
}


.filter-form {
  padding: 20px 0;
}
.filter-form label {
  font-weight: normal;
}
.filter-form-controls {
  text-align: right;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.filter-form-controls button {
  margin-left: 10px;
}
.price-control {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  line-height: 40px;
  padding-left: 10px;
}
.price-control input {
  width: calc(100% - 35px);
  -moz-appearance: textfield;
  float: right;
}
.price-control input::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select.input-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px;
}
.select-wrapper {
  position: relative;
  margin-top: 10px;
}
.select-wrapper:after {
  content: '\f107';
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #888;
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
.brands-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.brands-filter__item {
  width: 130px;
  padding: 5px 0 5px 5px;
}
.brands-filter__item > label {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: normal;
}
/* FILTER END*/

/* COMPARISON PAGE */

.comparison__product-image a img {
  height: 80px !important;
  max-width: 160px;
}

.comparison-tabs-navbar {
  background-color: transparent !important;
  width: 100%;
}
.comparison-tabs-navbar .responsive-tabs.comparison-tabs {
  width: calc(100% + 10px);
  margin-left: -5px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.responsive-tabs.comparison-tabs .comparison-single-tab {
  border: 1px solid #f0f0f0;
  background: #fff;
  color: #242424;
  min-height: 60px;
  min-width: 160px;
  margin: 3px 5px 3px 5px;
  flex-grow: 1;
}
.responsive-tabs.comparison-tabs .comparison-single-tab > a {
  font-weight: bold;
  color: #727272;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-tabs.comparison-tabs .comparison-single-tab:hover {
  border: 1px solid #de6009;
}
.responsive-tabs.comparison-tabs .comparison-single-tab:hover > a {
  color: #de6009;
}
.responsive-tabs.comparison-tabs .comparison-single-tab.active {
  border: 1px solid #de6009;
}
.responsive-tabs.comparison-tabs .comparison-single-tab.active > a {
  color: #de6009;
}
.responsive-tabs.comparison-tabs .comparison-single-tab.active:hover {
  border: 1px solid #f56b0b;
}
.responsive-tabs.comparison-tabs .comparison-single-tab.active:hover > a {
  color: #f56b0b;
}
.responsive-tabs.comparison-tabs .comparison-single-tab {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.table-responsive.comparison-table th,
.table-responsive.comparison-table td {
  padding: 15px 10px;
  max-width: 500px;
}
.table-responsive.comparison-table td {
  min-width: 240px;
}
/* COMPARISON PAGE END */

.country_flag {
  display: inline;
  height: 12px;
  box-shadow: 0 0 2px 1px rgba(114,114,114, .5);
  margin: 0 10px;
}

/* =========== Alert messages ============= */

.alert-box {
  padding: 20px;
  margin-bottom: 15px;
  text-align: left;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}
.alert-box.danger {
  color:#fff;
  background-color:#f66358;
}
.alert-box.success {
  color:#fff;
  background-color:#6abd6e;
}
.alert-box.info {
  color:#fff;
  background-color:#47a8f5;
}
.alert-box.warning {
  color:#fff;
  background-color:#ffaa2b;
}

.alert-box__message {
  margin-right: 25px;
}

.alert-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.alert-closebtn:hover {
  color: black;
}

/* ========= Alert messages end =========== */

/* WYSIWYG */

.fr-fic.fr-dib {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fr-fic.fr-dib.fr-fil {
  margin-left: 0;
}
.fr-fic.fr-dib.fr-fir {
  margin-right: 0;
}

/* WYSIWYG END */

/* EMPLOYEES */

.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.employee {
  position: relative;
  width: 300px;
  max-width: 100vw;
  margin: 10px;
}
.employee_photo {
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.employee_name {
  text-align: center;
  margin-top: 15px;
}
.employee_post {
  text-align: center;
  margin-bottom: 5px;
}
.employee_contact {
  width: 100%;
  padding: 10px 0 0 25px;
  word-break: break-all;
  position: relative;
}
.employee_contact .fa {
  display: inline-block;
  position: absolute;
  height: 25px;
  line-height: 25px;
}
.employee_contact a {
  display: inline-block;
  margin-left: 30px;
}

/* EMPLOYEES END */