<section class="sec-padding section-white">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                <h1 class="uppercase section-title">Бренды</h1>
                <h6 class="section-subtitle">Мы работаем с оборудованием ведущих мировых производителей:</h6>
                <div class="clearfix"></div>

                <ul class="brands-list hover-4">
                  {% for brand in Brands.getBrands %}
                    <li>
                        <div><img src="{{ brand.image.path }}" alt="{{ brand.name }}"></div>
                    </li>
                  {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</section>

{% put scripts %}
<script>
    $('.brands-list').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 1000,
        cssEase: 'linear',
        pauseOnHover: false,
        arrows: false,
        responsive: [
            {
                breakpoint: 768,
                settings: {slidesToShow: 4}
            }, {
                breakpoint: 520,
                settings: {slidesToShow: 3}
            }
        ]
    });
</script>
{% endput %}