<div data-control="toolbar">
    <a
        href="<?= Backend::url('iioo/company/employees/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('iioo.company::lang.controller.view.employees.new')) ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$el.prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.form.delete')) ?>
    </button>
</div>
