description = "Default layout"

[Catalogue]
[Services]
[ContactForm]
[ContactButton]
[googleTracker]
==
<!DOCTYPE html>
<html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
            <!--[if IE]>
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
            <![endif]-->
        <!--<title>{{ this.page.title }} - ActiveSun</title>-->
        <title>
            {% placeholder title default %}
                {{ this.page.title }} - ActiveSun
            {% endplaceholder %}
        </title>


        <link rel="apple-touch-icon" sizes="180x180" href="/themes/oc-activesun-theme/assets/images/favicon/apple-touch-icon.png?v=3eaLbjdyMk">
        <link rel="icon" type="image/png" sizes="32x32" href="/themes/oc-activesun-theme/assets/images/favicon/favicon-32x32.png?v=3eaLbjdyMk">
        <link rel="icon" type="image/png" sizes="16x16" href="/themes/oc-activesun-theme/assets/images/favicon/favicon-16x16.png?v=3eaLbjdyMk">
        <link rel="manifest" href="/themes/oc-activesun-theme/assets/images/favicon/manifest.json?v=3eaLbjdyMk">
        <link rel="mask-icon" href="/themes/oc-activesun-theme/assets/images/favicon/safari-pinned-tab.svg?v=3eaLbjdyMk" color="#af4a01">
        <link rel="shortcut icon" href="/themes/oc-activesun-theme/assets/images/favicon/favicon.ico?v=3eaLbjdyMk">
        <meta name="msapplication-config" content="/themes/oc-activesun-theme/assets/images/favicon/browserconfig.xml?v=3eaLbjdyMk">
        <meta name="theme-color" content="#ffffff">


        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="generator" content="OctoberCMS">
        <!-- Google fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic" rel="stylesheet">

        <link href="{{ [
            'assets/js/bootstrap/bootstrap.min.css',
            'assets/js/megamenu/stylesheets/screen.css',
            'assets/css/theme-default.css',
            'assets/js/loaders/stylesheets/screen.css',
            'assets/fonts/font-awesome/css/font-awesome.min.css',
            'assets/js/slick/slick.css',
            'assets/js/revolution-slider/css/settings.css',
            'assets/js/magnific-popup/magnific-popup.css',
            'assets/css/animate.min.css',
            'assets/css/skin.css'
        ]|theme }}" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% styles %}

    </head>
    <body>
        <div class="over-loader loader-live">
            <div class="loader">
                <div class="loader-item style1">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <div class="wrapper-boxed">
            <div class="site-wrapper">
                {% if placeholder('header') %}
                    {% placeholder header %}
                {% else %}
                    {% partial 'site/header/default' %}
                {% endif %}

                {% if placeholder('hero') %}
                    {% placeholder hero %}
                {% else %}
                    {% partial 'site/hero' %}
                {% endif %}

                {% page %}
                <a href="#" class="scrollup"></a>
            </div>
        </div>
        {% partial 'site/footer' %}

        <script src="{{ [
            'assets/js/jquery/jquery.js',
            'assets/js/bootstrap/bootstrap.min.js',
            'assets/js/megamenu/js/main.js',
            'assets/js/slick/slick.min.js',
            'assets/js/waypoints/jquery.waypoints.min.js',
            'assets/js/animations.js',
            'assets/js/functions/functions.js',
            'assets/js/magnific-popup/jquery.magnific-popup.js',
            'assets/js/parallax/jquery.parallax-1.1.3.js'
        ]|theme }}"></script>
        <script>
            $(window).load(function () {
                setTimeout(function () {
                    $('.loader-live').fadeOut();
                }, 500);
            })
        </script>

        {% framework extras %}
        {% scripts %}
        {% component 'googleTracker' %}
    </body>
</html>