<h6>Задайте Ваш вопрос:</h6>
<span data-validate-for="contact_form_name" class="contact-form__field-validation_error"></span>
<input id="contact_form_name" class="input-1" type="text" placeholder="Имя и фамилия"
       name="contact_form_name">
<span data-validate-for="contact_form_email" class="contact-form__field-validation_error"></span>
<input id="contact_form_email" class="input-1" type="email" placeholder="Email"
       name="contact_form_email">
<span data-validate-for="contact_form_phone" class="contact-form__field-validation_error"></span>
<input id="contact_form_phone" class="input-1 phone-input-js" type="tel" placeholder="Телефон"
       name="contact_form_phone">
<span data-validate-for="contact_form_message" class="contact-form__field-validation_error"></span>
<textarea id="contact_form_message" class="textaria-1" placeholder="Ваше сообщение"
          name="contact_form_message"></textarea>
{% if success_message %}
<div class="alert-box success">
    <span class="alert-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <span class="alert-box__message">{{ success_message }}</span>
</div>
{% endif %}
<button id="send-contact-form-btn" type="submit" class="btn btn-medium btn-yellow xround-2 btn-fullwidth"
        name="contact_submit">
    <i class="fa fa-paper-plane"></i> Отправить
</button>