<section class="section-less-padding-2 section-white section-horizontal-padding">
    <div class="container-fluid">
        <div class="col-xs-12 nopadding">
            <div class="sec-title-container text-center">
                <h1 class="uppercase font-weight-7 text-gyellow section-title">Услуги</h1>
                <h3 class="font-weight-7 less-mar-1 section-subtitle">Добро пожаловать в мир энергетической независимости</h3>
                <h6 class="less-mar-1 section-subtitle">Кликните на интересующий Вас раздел:</h6>
                <div class="tp-title-line-1"></div>
            </div>
        </div>
        <div class="clearfix"></div>

        {% for service in Services.getServices %}
        <div class="col-md-6 col-sm-6 col-xs-12 tp-feature-box-1" data-anim="fadeIn">
            <a href="{{ 'service'|page({service_slug: service.slug}) }}" class="tp-feature-box-inner-bg">
                <div class="img" style="background-image:url('{{ service.image.path }}');"></div>
                <div class="tp-feature-box-inner">
                    <div class="text-box">
                        <div class="inner-box">
                            <h6 class="uppercase less-mar-1 title">{{ service.name }}</h6>
                            <div class="title-line "></div>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

        {% if (Services.getServices|length is even) %}
        <div class="col-md-12 col-sm-12 col-xs-12 tp-feature-box-1" data-anim="fadeIn">
        {% else %}
        <div class="col-md-6 col-sm-6 col-xs-12 tp-feature-box-1" data-anim="fadeIn">
        {% endif %}
            <a href="{{ 'catalog'|page }}" class="tp-feature-box-inner-bg">
                <div class="img" style="background-image:url('{{ 'assets/images/services/4.jpg'|theme }}')"></div>
                <div class="tp-feature-box-inner">
                    <div class="text-box">
                        <div class="inner-box">
                            <h6 class="uppercase less-mar-1 title">Каталог оборудования</h6>
                            <div class="title-line "></div>
                            <p>Подбор комплектующих.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>