{% for service in Services.getServices %}
<li class="{% if current_service.slug == service.slug %}active{% endif %}">
    <a href="{{ 'service'|page({service_slug: service.slug}) }}">{{ service.name }}</a>
</li>
{% endfor %}