{% for article in Articles.getArticles %}
<div class="col-md-6 col-sm-6 col-xs-12 sec-bpadding-2">
    <div class="blog-post">
        <div class="postinfo-box">
            <h4 class="title">
                <a href="{{ 'article'|page({article_slug: article.slug}) }}">
                    {{ article.title }}
                </a>
            </h4>
            <div class="blog-post-info">
                <span><i class="fa fa-calendar-o"></i> {{ article.published_at|date("d.m.Y") }}</span>
            </div>
            <p class="blog-post-description">
                {{ article.description|raw }}
            </p>
            <a class="btn btn-border btn-small light xround-2" href="{{ 'article'|page({article_slug: article.slug}) }}">Подробнее</a>
        </div>
    </div>
    <!--end post item-->
</div>
<!--end col main-->
{% endfor %}
<div class="col-md-12 col-sm-12 col-xs-12 text-center">
    {{ __SELF__.getArticles().render|raw }}
</div>