subject = "Оформлен новый заказ"
==
На сайте ActiveSun оформлен новый заказ
-------------------------------------
Имя: {{ html_clean(customer_first_name) }}
Фамилия: {{ html_clean(customer_last_name) }}
Телефон: {{ html_clean(customer_phone) }}
Email: {{ html_clean(customer_email) }}
Информация о заказе:
{% for product in products %}
{{ product.pivot.products_count }} x {{ product.name }} {{ currency_symbol }} {{ product.currency_price }}

{% endfor %}
Общая стоимость: {{ currency_symbol }} {{ price }}

-------------------------------------
==
<p>Вы получили новое сообщение с сайта ActiveSun</p>

<div style="background: #fafafa; padding: 15px;">
    <strong>Имя:</strong> {{ html_clean(customer_first_name) }} <br>
    <strong>Фамилия:</strong> {{ html_clean(customer_last_name) }} <br>
    <strong>Телефон:</strong> {{ html_clean(customer_phone) }}<br>
    <strong>Email:</strong> <a href="mailto:{{ html_clean(customer_email) }}" target="_blank">{{ html_clean(customer_email) }}</a> <br>
    <strong>Информация о заказе:</strong><br>
    {% for product in products %}
    <strong>{{ product.pivot.products_count }} x </strong>{{ product.name }} <strong>{{ currency_symbol }} {{ product.currency_price }}</strong><br>
    {% endfor %}
    Общая стоимость: <strong>{{ currency_symbol }} {{ price }}</strong>
</div>